heading and markdown
# heading 1
## heading 2
### heading 3
 This is demo test note

In [3]:
a=2
b=3
c=a+b
print(a)

2

in statically  typed language we write 
int number = 10;
but python is dynamically typed language where we write 
number = 10

In [10]:
#python is case sensitive
age = 36
Age = 35
print(age)
print(Age)

36
35

In [7]:
marks = 69.0 #float number
print(marks)

69.0

In [8]:
name ="samiya"

In [9]:
print(name)

samiya

python uses both complier and interpretor  but it is callled interpreted language.

# error in python
compile time error -byte code is not generated

runtime error

# sorce code(.py)>compilier>byte code(.pyc)>interpreter>machine code>executed>output.

In [5]:
a = 10
print(a)
b = 20
print(b)
c= a+b
print(c)

10
20
30

In [7]:
# syntax error example
a = 10
print(a
b = 20
print(b)
c= a+b
print(c)

SyntaxError: '(' was never closed (3909246351.py, line 3)

In [9]:
# run time error example- it will be complied but will have run time error
##note: anything apart from syntaxe error and indentation error is run time error.
a = 10
print(a)
b = 20
print(b)
c= a+d
print(c)

10
20

NameError: name 'd' is not defined

# in complie time error output is not genetrated as it will not be converted into byte code. but in run time error as interpreter execute line by line, output for line before error line are executed and out put is generated.

In [10]:
#id() function is used to get the memory address of any variable.
a=1000
b=2000
print(id(a))

1654649445488

In [11]:
print(id(b))

1654649445072

In [14]:
c=1000
id(c) #new memoey is allocated.

1654649445072

In [15]:
id(a)
id(b) #if print is not used only last ;ine will be executed.

1654649444848

In [17]:
d = a
id(d) #d and a adrress will be same

1654649445488

In [18]:
a = 2500
id(a) #reassignment

1654649444656

In [19]:
id(d) #its address will not be changed

1654649445488

In [20]:
d=1500
id(d)

1654649446320

# reference count of address 1654649445488 is now zero. Garbage collector will delete the memory of that adddress and will be resend in future.

In [21]:
x=50
id(x)

140736732567880

In [22]:
y=50
id(y)

140736732567880

# execption if the values are from  -5 to 256 , the memory address will be same. its a memoery management rule. example is above

### Literal
Literal is the value of data
name = "john" 
here john is a literal
age = 20
 20 is literal

# numerical literal
-integer:whole number (+ve and -ve),0 to 9, base 10, decimal number system ,eg:100,-5,0,-3451
-binary: base 2,0,1. 0b1001, 0b110110
-octal-base 8, 0-7, 0o17,0o76
-hexadecimal:base 16, 0-9, A-f, eg: 0x3E, 0x100
-floats: fractional number with the decimal point , 10.67, -50.89,20.0
-complex number: real and imaginary ,a+bj where a is the real part and b is the imaginary part and j is the square root of -1.

In [25]:
num1=100
num1

100

In [29]:
num2=0b1010
print(int(num2))
print(num2) #it alwas gives output in int value

10
10

In [30]:
print(bin(10)) # to get the values in binary
print(bin(100))

0b1010
0b1100100

In [32]:
print(bin(num1)) # to get the values in binary

0b1100100

In [33]:
num3=0o10 #octal value
num3

8

In [34]:
print(oct(10))# to get oct value

0o12

In [37]:
num5=0x3E # to get hex value
print(num5)
print(hex(num5))# hex value is given in small letter such as 0x3e

62
0x3e

In [38]:
print(id(100))

140736732569480

In [40]:
print(hex(id(100))) # memoery address are usually present in hexa

0x7fffd2f39f88

In [46]:
num6 = 10.5 #float number
num6

10.5

In [42]:
num7 = -100.45
print(num7)

-100.45

In [48]:
print(id(num1))
print(id(100)) # id is used to get the address value of both value and variable

140736732569480
140736732569480

In [49]:
hex(100)

'0x64'

In [50]:
a=1000
b=1000
print(id(a))#different address is allocated
print(id(b))#ifferent address is allocated
print(id(1000))#different address is allocated every time
print(id(1000))

1654649450256
1654649449936
1654649450640
1654649450544

In [51]:
num9 = 3 +2j
num9

(3+2j)

In [54]:
int(num9) # we cannot convert imagnery num to real number

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# string literal

In [58]:
#difeerent format to write strings 
s1 = "sam" 
s2 = 'naaz'
s3 = '''samiya'''
s4 = """mehnaz"""
print(s1)

sam

In [59]:
s1 # quotes are not part of the values and only comes with signal quote in output if we dont use print function.

'sam'

In [60]:
s5 = 'hello, how are you?'
s5

'hello, how are you?'

In [61]:
s6 = 'This is python's class' #error as it considered as quote is closed after n
s6

SyntaxError: unterminated string literal (detected at line 1) (2641601638.py, line 1)

In [63]:
s7 = "This is python's class"
s7

"This is python's class"

In [66]:
s8 = 'This is python\'s class' # slash can also be used to indicate that quote is a prt of the string and it negative the negate the meaning od special charater
s8

"This is python's class"

In [67]:
s9 = "hello 
how are you?"
s9

SyntaxError: unterminated string literal (detected at line 1) (1251254864.py, line 1)

In [70]:
s10 = '''hello 
how are you?''' #tripal quotes can be used to write the data in next line without error
s10

'hello \nhow are you?'

In [69]:
print(s10) # it using print function, print in next line

hello
how are you?

 ## \n is a new line character

In [76]:
s11 = "hey\nhow are you?"
s11

'hey\nhow are you?'

In [77]:
print(s11)

hey
how are you?

In [79]:
s13 = "old\new"
print(s13)

old
ew

# boolean literral 
  They are True and False
## special literal - NONE
None is a value that takes a memory

In [83]:
value = None
print(value)
print(id(value))

None
140736731179760

In [86]:
value

In [87]:
print(value) # to print none we have use print becuase the value will not give you output

None

# Identifier:
Its a name give to variable, function, class.

In [88]:
name = "samiya"
# name is identifier, john is string literal, = is operator.

In [89]:
#variable is same rule as identifiers

# constant
-fixed value,
-we use upper case to define constant
example : GRAVITY=9.8
PI= 3.14
note: the values can be edited and changed but in order to not to change it in future we used it as campital letters to indecate that the valu is constant and we should not edit it.

# key words
pre define reserved words that have special meanings
they are 36 key words currently
ex: def,for,if,else,import,
how to check it: there is a list of keywords present inside a module called "keyword"
to get it we need to import the module..
in the keyword module there is a variable defined - kwlist which has a list of all the keywords

In [91]:
import keyword

In [94]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# COMMENT

notes written inside the program
description of the code , its a good practise and # is used to write single line comment and triple quotes are used to write multiple line comments. 

ctrl+? is short cut for comment

In [95]:
# adding two int
a=10
b=20
c = a+b 
print(c)

30

In [96]:
'''hi its triple code comment '''
a=10
b=20
c = a+b 
print(c)

30

In [98]:
# triple quote is used in starting only or it will give error
a=10
b=20 '''hi its triple code comment '''
c = a+b 
print(c)

SyntaxError: invalid syntax (2383713188.py, line 3)

# expression :  combination of values/ data , variable and operators.

In [99]:
a= 10
result = a*2+10 # a*2+10  is an expression
print(result) # this is a statement, that is instruction we write in code

30

# indentations and block  

BLOCK: combenations of statements
we use indenation to write blocks in python.
indenation is space /tabs used for writing blocks.
-4 SpACES IS THE STANdard indentation.

In [105]:
number = -10
if number < 0:
    print("negative value")
else:
    print ("POSITIVE VALUE")

negative value

In [106]:
number = 10
if number < 0:
    print("negative value")
else:
    print ("POSITIVE VALUE")

POSITIVE VALUE

# DATA TYPES IN PYTHON

## fundemental data types-
int,flots,comples,string,boolean,special
## derived data types:
lists, tuple,frozenset, dictionary

In [107]:
# integers
num1 = 100
num1

100

In [108]:
print(type(num1)) # return datatype of variable.

<class 'int'>

In [109]:
a = "sam"
type(a)

str

In [110]:
print(type(a))

<class 'str'>

In [111]:
num2 = 0b1011
type(num2) #binary are representation of int so it will give int only

int

In [112]:
print(num2)

11

In [113]:
num3 = 0xa4
print(num3)
type(num3)

164

int

In [114]:
num5=10.5
type(num5)

float

In [115]:
num6 =10.6
type(num6)

float

In [117]:
num1+num5

110.5

In [118]:
#complex numbers -a+bj
c1= 4+3j
type(c1)

complex

In [119]:
c2= 3-2j
c1+c2

(7+1j)

In [120]:
num1+c1

(104+3j)

In [121]:
num5+c1

(14.5+3j)

In [122]:
c1*c2

(18+1j)

In [123]:
help(print) #help function gives all the details about a data type

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [124]:
help(complex)

Help on class complex in module builtins:

class complex(object)
 |  complex(real=0, imag=0)
 |
 |  Create a complex number from a real part and an optional imaginary part.
 |
 |  This is equivalent to (real + imag*1j) where imag defaults to 0.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __complex__(self, /)
 |      Convert this value to exact type complex.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  conjugate(self, /)
 |      Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [125]:
c1

(4+3j)

In [126]:
c1.conjugate()

(4-3j)

In [128]:
(-3-4j).conjugate()

(-3+4j)

In [129]:
c1.real #real and imag always give value in float

4.0

In [131]:
c1.imag

3.0

In [132]:
a=5
c1+a

(9+3j)

In [133]:
b=5j
c1+b

(4+8j)

# boolean
True and False
True value is 1 and false value is zero

In [136]:
val1=True
type(val1)

bool

In [137]:
val2=False
type(val2)

bool

In [138]:
10<4

False

In [140]:
val1 + a

10

In [142]:
True+True #boolean and can considered in arthimatic operator as 1 and 0

2

# Strings
seq of charaecter enclosed within quotes.

In [ ]:
s1="samiya"

In [144]:
type(s1)

str

In [145]:
print(type(s1))

<class 'str'>

In [146]:
#indexing in strings.
#positioning of the strings 
#index starts from zero anddone using []
# n is the length of strings

In [148]:
s1 ="Hello world"
s1[6]

'w'

In [149]:
print(s1[6])

w

In [150]:
len(s1) #gives length of string

11

In [151]:
s1[12] #if we give value beyound the range it will give error

IndexError: string index out of range

In [152]:
s1[-1] #it will start backwords with -1 value and goes till -n.

'd'

In [153]:
s1[-11]

'H'

# slicing
featching a substring or a part of the string

In [3]:
s1 = "hello world"
s1

'hello world'

# string[start:stop:step]
stop is excluded

In [2]:
s1[3:8:1]

'lo wo'

In [3]:
s1[3:8:2]

'l o'

In [4]:
s1[2:10:2]

'lowr'

In [5]:
s1[4:8] #if step value is not given, by default its value is one

'o wo'

In [11]:
s1[::5] #start and stop are considered as start is zero and stop is n-1

'h d'

In [9]:
s1[2::5]

'lo'

In [10]:
s1[:4:3]

'hl'

In [2]:
s1

NameError: name 's1' is not defined

In [4]:
s1

'hello world'

In [5]:
s1[4:9:-1] #logical error

''

In [6]:
# '' is called empty string
s1[9:4:-1]

'lrow '

In [7]:
s1[4:1:-1]

'oll'

In [9]:
s1[4:2:-1]

'ol'

In [11]:
s1[-7:-2:1]

'o wor'

In [12]:
s1[9:-9:-2]

'lo l'

In [13]:
s1[:5:-2] #start depends on sign of the step if the step is +ve start is zero , if the step is negative start will be -1

'drw'

In [14]:
s1[3::1] # if we dont give the end value, last charecter will be included

'lo world'

In [15]:
s1[6:25:1]

'world'

In [16]:
s1[25:6:-1]

'dlro'

In [18]:
s1[::-1]

'dlrow olleh'

In [19]:
s1[-4:6:-1]

'o'

# concatinations
joining the strings together

In [20]:
s1

'hello world'

In [21]:
s2 = "bye"

In [23]:
s1 + s2

'hello worldbye'

In [26]:
s1 + " " + s2 # for space

'hello world bye'

In [28]:
lang = 'python'
version = 3.11
lang + version

TypeError: can only concatenate str (not "float") to str

In [29]:
version = "3.11"

In [30]:
lang + version

'python3.11'

# special type
## none

In [31]:
value = None
type(value)

NoneType

# type casting
# convering and changing the value from1 data type to one to another.

In [33]:
num1 = 10

In [34]:
float(num1)

10.0

In [36]:
num1 # its value is not changed in type casting untill we assign the value to it

10

In [37]:
n1 = 76.5
int(n1)

76

In [38]:
n2 = 99.9
int(n2)

99

In [39]:
n3 = 90
str(n3)

'90'

In [40]:
language = "python"
version = 3.11
language+str(version)

'python3.11'

In [41]:
int(language) #string cannot be converted to int

ValueError: invalid literal for int() with base 10: 'python'

In [43]:
print(int(33.3))
float(10)

33

10.0

In [44]:
float("abc") # not possible

ValueError: could not convert string to float: 'abc'

In [45]:
float("3.11")

3.11

In [48]:
float("3.11.1")

ValueError: could not convert string to float: '3.11.1'

In [49]:
float("3.11a")

ValueError: could not convert string to float: '3.11a'

In [50]:
int('100')

100

In [51]:
int("100.1")

ValueError: invalid literal for int() with base 10: '100.1'

In [52]:
int(100.1)

100

In [46]:
#ASCII VALUE

ord("a") # function to get ascii value of a

97

In [47]:
chr(65) #function to get the charaecter from ASCII value

'A'

In [54]:
ver = 3.11 # output 3
int(float(3.11))

3

In [55]:
int(True)

1

In [56]:
int(False)

0

In [57]:
float(True)

1.0

In [58]:
bool(1)

True

In [59]:
bool(0)

False

In [61]:
bool(100) #anyother number apart from zero is false

True

In [62]:
bool(-190)

True

In [63]:
bool('how are you')

True

In [67]:
bool("false") #bool of any string execpt empty string is true

True

In [66]:
bool("") #bool of empty string is false

False

# list
-collection of data types or items (heterogenous means different)
-comma seperated sequence of elements enclosed within []

In [1]:
l1=[10, 98.5, 'python', 1000, True, None, 'john']
l1

[10, 98.5, 'python', 1000, True, None, 'john']

In [3]:
type(l1)

list

In [4]:
#indexing in list is same as string.

len(l1) #length of the list

7

In [6]:
l1[0]

10

In [7]:
l1[6]

'john'

In [8]:
l1[-1]

'john'

In [9]:
type(l1[0])

int

In [10]:
type(l1[-1])

str

In [11]:
l1[2][1] # get the element of the main elemnt in list that is y of python. only possible in string.

'y'

In [12]:
l1[1][2]

TypeError: 'float' object is not subscriptable

In [13]:
l1[4][1]

TypeError: 'bool' object is not subscriptable

In [14]:
l1[0:5]

[10, 98.5, 'python', 1000, True]

In [15]:
l1[1:3:1]

[98.5, 'python']

In [18]:
l1[-1][2::-1]

'hoj'

In [19]:
# list can have dublicates values.
l2=[10,20,30,40,30,20,10]
l2

[10, 20, 30, 40, 30, 20, 10]

In [20]:
# lists are ordered.
#list can be modified /mutalble/can be changed.
l1

[10, 98.5, 'python', 1000, True, None, 'john']

In [21]:
l1[0]=45

In [22]:
l1

[45, 98.5, 'python', 1000, True, None, 'john']

In [23]:
s1= "hello"
s1

'hello'

In [25]:
type(s1)

str

In [30]:
s1[0]="b" #strings are not mutable but list are mutable

TypeError: 'str' object does not support item assignment

In [31]:
id(l1) #check the address of l1

1555068254400

In [32]:
l1[-1]=500 #value can be changed to any data type

In [33]:
l1

[45, 98.5, 'python', 1000, True, None, 500]

In [34]:
id(l1) # memeory of the address after the modification is the same.

1555068254400

In [35]:
l1

[45, 98.5, 'python', 1000, True, None, 500]

In [37]:
#append- add element to end of the list
l1.append(1)

In [38]:
l1

[45, 98.5, 'python', 1000, True, None, 500, 1, 1]

In [40]:
l1.append('bye')
l1

[45, 98.5, 'python', 1000, True, None, 500, 1, 1, 'bye']

In [41]:
id(l1) #address will not be chnaged

1555068254400

In [42]:
l1.append([10,10])

In [43]:
l1

[45, 98.5, 'python', 1000, True, None, 500, 1, 1, 'bye', [10, 10]]

In [44]:
var = [10,20]
l1.append(var)
l1

[45, 98.5, 'python', 1000, True, None, 500, 1, 1, 'bye', [10, 10], [10, 20]]

In [45]:
l1[-1][0]

10

In [46]:
l1

[45, 98.5, 'python', 1000, True, None, 500, 1, 1, 'bye', [10, 10], [10, 20]]

In [47]:
l2

[10, 20, 30, 40, 30, 20, 10]

In [49]:
print(l1+l2) #concatenation

[45, 98.5, 'python', 1000, True, None, 500, 1, 1, 'bye', [10, 10], [10, 20], 10, 20, 30, 40, 30, 20, 10]

In [50]:
l3=l1+l2

In [51]:
id(l3)

1555081213376

# Tuple
# collection of heterogeneous elements
# ordered
# immutable
# comma seprated heterogenous elements enclosed within ()

In [53]:
t1=(10,78.5,"python", True)
t1

(10, 78.5, 'python', True)

In [54]:
type(t1)

tuple

In [55]:
len(t1)

4

In [56]:
t1[0] #indexing

10

In [57]:
t1[3]

True

In [58]:
t1[0]=100 #cannot change the values it is immutable just like string

TypeError: 'tuple' object does not support item assignment

 # tuple can have dublicates value

In [59]:
t2=(10,10,20,30,90,20)
t2

(10, 10, 20, 30, 90, 20)

In [61]:
t3=t1+t2
t3

(10, 78.5, 'python', True, 10, 10, 20, 30, 90, 20)

In [64]:
 t4=(10,20,(1,2,3),'python', [1,2,34])

In [65]:
t4

(10, 20, (1, 2, 3), 'python', [1, 2, 34])

In [66]:
len(t4)

5

In [67]:
len(t4[2])

3

In [68]:
t4[-1][-1]

34

In [69]:
t4[-1][0]=5 #list elements present inside the tuple can be modified.
t4

(10, 20, (1, 2, 3), 'python', [5, 2, 34])

In [74]:
t4[-1].append(4) #in list we can also append the value as the list address will not be chnaged 
t4

(10, 20, (1, 2, 3), 'python', [5, 2, 34, 4, 4, 4])

In [76]:
l4=[1,2,3,(1,2,3)]
l4

[1, 2, 3, (1, 2, 3)]

In [77]:
l4[-1]=100

In [78]:
l4

[1, 2, 3, 100]

# sets
# collection of elements, no dublicates are allowed, they are unordered.
# not in a sequence, mutable, no indexing,no slicing
# comma seprated enclosed within flower bracket

In [80]:
set1 = {10,200,4.5,'python', True}
set1

{10, 200, 4.5, True, 'python'}

In [81]:
type(set1)

set

In [82]:
set1

{10, 200, 4.5, True, 'python'}

In [84]:
set2 = {10,20,30,10} #set will be created but dublicate will be removed.
set2

{10, 20, 30}

In [85]:
set3 = {10,[1,2,3], 'python'} #mutable cannot be element of set

TypeError: unhashable type: 'list'

In [87]:
set3 = {10,(1,2,3), 'python'} #only immutable data type are allowed in set
set3

{(1, 2, 3), 10, 'python'}

In [89]:
set4={1,2,3,{1,2,3}} #set cannot have another set inside it

TypeError: unhashable type: 'set'

In [90]:
set1

{10, 200, 4.5, True, 'python'}

In [91]:
set1.add(500)

In [92]:
set1

{10, 200, 4.5, 500, True, 'python'}

In [93]:
id(set1)

1555076017824

# Dictionary
## comma seprated its a collecton of key value pair enclosed within {}

example:  {key1:value1, key2:value2, key3:value3}

# unordered, no indexing, we fetch the value using keys ,mutable, keys should be unique and values can be dublicate.

# keys should only be immutable objects
# values can be of any data types.

In [3]:
student1 = {"roll":1001, "name":"john", "percent":81.5}
student1

{'roll': 1001, 'name': 'john', 'percent': 81.5}

In [4]:
type(student1)

dict

In [5]:
ascii_dist = {65:"A", 97:"a"}
ascii_dist

{65: 'A', 97: 'a'}

In [7]:
d1={(1,2,3):7, (1,5):6} #tuple is immutable hence it is aloowed as the key
d1

{(1, 2, 3): 7, (1, 5): 6}

In [8]:
d1={[1,2,3]:7, [1,2]:3} #list is mutable and is not aloowed as key

TypeError: unhashable type: 'list'

In [9]:
student2= {"roll": 1002, "name":"jill", "grade":"b", "percent":87.5}

In [10]:
student2

{'roll': 1002, 'name': 'jill', 'grade': 'b', 'percent': 87.5}

In [11]:
type(student2)

dict

In [12]:
l1=[] #tio create empty list
t1=() #empty tuple
d1={} #empty dictoner
s1=set() #empty set
 #or 
l2=list()
t2=tuple()
d2=dict()
#set only have one method to crete new empty set

In [13]:
student3= {"roll": 1003, "name":"mill", "marks":[100,25,85,95.4]} #list can be value
student3

{'roll': 1003, 'name': 'mill', 'marks': [100, 25, 85, 95.4]}

In [14]:
student4= {"roll": 1003, "name":"mill", "marks":{'eng':100, 'maths':25, 'python':85, "hindi":95.4}} #dict inside dict 
student4

{'roll': 1003,
 'name': 'mill',
 'marks': {'eng': 100, 'maths': 25, 'python': 85, 'hindi': 95.4}}

In [15]:
student4["name"]

'mill'

In [16]:
student4["marks"]["hindi"]

95.4

In [17]:
student3

{'roll': 1003, 'name': 'mill', 'marks': [100, 25, 85, 95.4]}

In [18]:
student3["marks"][1]

25

In [19]:
student1

{'roll': 1001, 'name': 'john', 'percent': 81.5}

In [21]:
student1["percent"]=99 #changing value

In [22]:
student1

{'roll': 1001, 'name': 'john', 'percent': 99}

In [23]:
student1["grade"]="b" #add new key value pair

In [24]:
student1

{'roll': 1001, 'name': 'john', 'percent': 99, 'grade': 'b'}

NameError: name 'key' is not defined

In [27]:
student = {101:"sam", 102:"naaz", 102:"mehnaz", 103:"samiya"} #if dublicate key is present it will condier the last value 
student

{101: 'sam', 102: 'mehnaz', 103: 'samiya'}

In [28]:
student1+student #concatination is not allowed

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [29]:
marks={"eng":100, 'maths':100, 'python':100} #dublicate values can be present
marks

{'eng': 100, 'maths': 100, 'python': 100}

# mutable: list,set,dict
# immutable: int,float,complex,string,bool,none,tuple

In [40]:
#fetching keys 
print(student1)
k1=student1.keys()
k1

{'roll': 1001, 'name': 'john', 'percent': 99, 'grade': 'b'}

dict_keys(['roll', 'name', 'percent', 'grade'])

In [37]:
type(k1)

dict_keys

In [46]:
print(k1) #to avoide confucion it will give out put as list enclosed within () to avoide the confusion of list or tuple

dict_keys(['roll', 'name', 'percent', 'grade'])

In [47]:
list(k1) #typecasting keys value to list

['roll', 'name', 'percent', 'grade']

In [49]:
tuple(k1) #typecasting to tuple

('roll', 'name', 'percent', 'grade')

In [54]:
#removing dublicates from the list and converting bacj to the list
l1=[1,2,2,2,3,4,5,6,6,7,8,8,8]
print(l1)
print(set(l1))
list(set(l1))

[1, 2, 2, 2, 3, 4, 5, 6, 6, 7, 8, 8, 8]
{1, 2, 3, 4, 5, 6, 7, 8}

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
student1

{'roll': 1001, 'name': 'john', 'percent': 99, 'grade': 'b'}

In [57]:
v2=student1.values()
v2

dict_values([1001, 'john', 99, 'b'])

In [58]:
type(v2)

dict_values

In [59]:
list(v2)

[1001, 'john', 99, 'b']

In [60]:
tuple(v2)

(1001, 'john', 99, 'b')

# memory reusablitily cocncept

In [61]:
a=1000
b=1000
id(a)

2416368698768

In [62]:
id(b)

2416369328752

In [63]:
x=99
id(x)

140736667492200

In [64]:
y=99
id(y) #same address becaouse of execption , this is called memeory usablity when different variables refer to the same memory address.

140736667492200

# it is also called interning. done for optimization
for integaers python pre;oads the value from -5 to 256 in the memory when python loads before the start of execution.
when we assign any value to a varibale withing the range , python will not create the new object ann assign to the new memory.
Rather it will make the variable refer to the pre loaded values memoery address

In [65]:
f1=10.5
id(f1)

2416365342736

In [67]:
f2=10.5 #as float will have infinte number ,so we cannot add this values in memeory for resueablity as every time a float is created it will take new address.
id(f2)

2416365345904

In [75]:
#boolean
val1= True
val2= True
val3= 1  #true and 1 are different in memory loaction
id(val1)

140736666020384

In [69]:
id(val2)

140736666020384

In [76]:
id(val3)

140736667489064

In [77]:
val4= None #use memory usbality concept
val5 = None
id(val4)

140736666102512

In [78]:
id(val5)

140736666102512

# strings
# they dont use memoery reuseablity concept
## note:
# a-z,A-Z,9-0,_ identifier rule.
if any value assigned to varibale follow identifier rule, the pvm will chekc if the value is alredy present in memory , if yes then it will poit to that address . if not it will assign new address to it.

In [81]:
s1="hello world"
id(s1)

2416371739120

In [82]:
s2="hello world"  #strings cannot be preloaded so they have new address every time 
id(s2)

2416358438384

In [87]:
s1="hello"  #used reuseability  if any value assigned to varibale follow identifier rule, the pvm will chekc if the value is alredy present in memory , if yes then it will poit to that address . if not it will assign new address to it.
print(id(s1))
s2="hello"
print(id(s2))

2416331921392
2416331921392

In [90]:
s1="hello_world" #used reuseability 
print(id(s1))
s2="hello_world"
id(s2)

2416371746224

2416371746224

In [91]:
s1="hello-world" #not used resuablity as it doesnot follow identifier rule
print(id(s1))
s2="hello-world"
id(s2)

2416371682800

2416352562160

# operators

operators perform various operations on operands.
a*b
* is an operator and a,b are operands.

In [1]:
# classification of operators based on operands.

#1. unary operator- operates on 1 operand. eg:not, -
#2. binary operators- operates on 2 operand. eg:+,and,<,=
#3. ternary operators-operates on 3 operands.

In [3]:
# classification of operators based on operations they perform

# 1. arithematic operaators: +,-,*,/,//,**,%
# note: / gives the output in float and % operator gives the reminder as output,// gives the Quotient value 
# ** is the power/exponent operator.

#2. Assignment operator:=
#3. compound Assignment operator: +=,/=,-=,//=,%=,**=
#example: a+=10 means a=a+10

In [5]:
a=100
a+=10 #a=a+10
a

110

In [7]:
v1+=10 # v1 should alredy have a value
v1

NameError: name 'v1' is not defined

In [8]:
a-=10
a

100

In [10]:
a/=3
a

11.111111111111112

In [13]:
a=30
a//=10
a

3

In [14]:
a=30.0 # if any operand is a float output is in float
a//=10 #floor dwvision 
a

3.0

In [17]:
a**=2
a

81.0

In [22]:
a=b=c=1000 #we can assign same value to different variable in same line
print(a)
print(b)
c

1000
1000

1000

In [20]:
id(a)

140736667492232

In [21]:
id(b) #same address as we have assigned at the same time as a=b=c

140736667492232

In [23]:
x=y="orange"
id(x)

1857601427248

In [24]:
id(y) #same address as we have assigned at the same time as a=b=c

1857601427248

In [25]:
a=b=[1,2,3] #same address as we have assigned at the same time as a=b=c
id(a)

1857609400192

In [26]:
id(b)

1857609400192

In [28]:
a=[1,2,3,4]
b=a

In [29]:
id(a)

1857609450112

In [30]:
id(b)

1857609450112

In [31]:
a,b,c=10,20,30
a

10

In [32]:
b

20

In [33]:
c

30

In [34]:
a,b,c=100,200 #not enough values

ValueError: not enough values to unpack (expected 3, got 2)

In [35]:
a,b,c=10,2,3,4 #too many values

ValueError: too many values to unpack (expected 3)

In [36]:
x=10,20,30 #tuple- comma seprated values enclosed within (). () are optional

In [37]:
x

(10, 20, 30)

In [38]:
type(x)

tuple

In [39]:
a,b,c=x #unpacking of the tuple

In [40]:
a

10

In [41]:
b

20

In [42]:
c

30

In [43]:
#comparision operators/ relational operators

#==,!=,<,>,<=,>=
# compare 2 operands and return a boolean

In [44]:
100>90

True

In [45]:
1000>2000

False

In [47]:
10==10

True

In [48]:
"python">"Python" #for strings it compare ascii value

True

In [49]:
"python"<"Python" #a-z has more ascii value then A-Z

False

In [50]:
"python1">"python" #first it will check for asciii value,if it is unable to decide it will check for length

True

In [51]:
# logival operators
# and ,or ,not
 #operates on true and false

In [52]:
# AND
#t n t = t
#t n f = f
#f n t = f
#f n f = f

In [53]:
True and True

True

In [54]:
True and False

False

In [55]:
#OR
#t n t = t
#t n f = t
#f n t = t
#f n f = f

In [56]:
False or False

False

In [57]:
True or False

True

In [58]:
name="john"
age=30

In [59]:
name=="john" and age==30

True

In [60]:
name=="john" or age==30

True

In [61]:
name=="john" and age==35

False

In [62]:
name=="john" or age==35

True

In [63]:
#not
#not true=>false
#not false=> true

In [64]:
10 and 20  #in case of and, if the first operand is true,output is second operand. if the first operand is false ,output is first operand

20

In [65]:
20 and 10

10

In [67]:
10 or 20

10

In [68]:
bool(10)

True

In [70]:
bool(20)

True

In [71]:
bool(0)

False

In [72]:
bool(100)

True

In [73]:
0 and 100

0

# note: 0,None,'',0.0,[],(),{},set()=>false

In [74]:
0 and ''

0

# Assignment :int,float,complex and boolean

In [1]:
# OR
10 or 20  #in case of OR, if the first operand is true,output is first operand. if the first operand is false ,output is second operand

10

In [2]:
10 or 20

10

In [3]:
"" or "hello"

'hello'

In [5]:
0 or"bye"

'bye'

In [6]:
"python" or x # x is not defined but the python will check the first operator and give the output.

'python'

In [8]:
bool("python")

True

In [9]:
x

NameError: name 'x' is not defined

In [10]:
0 and x

0

In [11]:
0 or x # whenever the x is executed it will give the error.

NameError: name 'x' is not defined

In [12]:
not ""

True

In [13]:
not 0

True

In [14]:
not 1

False

In [16]:
# Bitwise operators
# operates on bits (0 and 1)
b1 = 0b1010
b1 # o/p will be in int

10

In [17]:
b2= 0b1101
b2

13

In [18]:
type(b1) #binary is not a data type but it is a representation of int

int

In [19]:
# bitwise operators can be used on binary or int directly
# When bitwise operators is used with int, python internally converts int into binary and operates on the bits,

In [20]:
# and &,or \,xor^,not,>>right shift and << left shift

In [21]:
# &
# 1 & 1 = 1
# 1 & 0 = 0
# 0 & 1 = 0
# 0 & 0 = 0

In [22]:
b1

10

In [23]:
b2

13

In [24]:
b1 & b2

8

In [25]:
13 & 12

12

In [26]:
10 & 13

8

In [27]:
# |
# 1 | 1 = 1
# 1 | 0 = 1
# 0 | 1 = 1
# 0 | 0 = 0

In [28]:
b1 | b2

15

In [29]:
10 | 13

15

In [30]:
13 | 12

13

In [31]:
# ^
# 1 ^ 1 = 0
# 1 ^ 0 = 1
# 0 ^ 1 = 1
# 0 ^ 0 = 0

In [32]:
b1 ^ b2

7

In [33]:
13 ^ 12

1

# ~
# ~x = -(x+1)

In [34]:
~b1

-11

In [35]:
~ b2

-14

In [36]:
~ 13

-14

In [37]:
~ 16

-17

In [38]:
#left shift operator
# a<<b
# shifts the bits of "a" on the left b times and adds b zeros on the right side.

In [40]:
5 << 1

10

In [41]:
5 << 2

20

In [42]:
6 << 8

1536

In [44]:
# >> Right shift operator
# a>>b
# shifts the bits of "a" on the right side b times.

In [45]:
5>>1

2

In [46]:
10 >> 9

0

In [48]:
5 >>-1 #b cannot be negative

ValueError: negative shift count

In [49]:
-5 >>1

-3

In [50]:
# Membership operator
# used to check the membership of an element / item in a collection/ iterable objects (list, tuple,str,...)

In [51]:
# in operator
# return true if the item is present on th iterable objects, else return false.

In [52]:
l1=[1,2,4,6]

In [53]:
2 in l1

True

In [54]:
10 in l1

False

In [55]:
s1 =" Hello World"
"o" in s1

True

In [57]:
"h" in s1 #case sensitive

False

In [58]:
"Hello" in s1

True

In [59]:
"rl" in s1

True

In [60]:
" " in s1

True

In [62]:
"l" in s1 and "e" in s1 # to check multiple vale

True

In [63]:
"l" and "e" in s1 # incorrect format

True

In [64]:
"e" and "z" in s1

False

In [65]:
# not in
# opposite of in
# returns true if the item is not present in the iterable objects, else return false

In [66]:
"l" not in s1 and "e" not in s1

False

In [67]:
0 not in l1

True

In [68]:
-1 not in l1

True

In [69]:
"e" not in l1

True

In [70]:
set1={1,0,"hi"}
set1

{0, 1, 'hi'}

In [72]:
0 in set1

True

In [73]:
True in set1

True

In [74]:
False not in set1

False

In [75]:
d1 ={"a":1, "b":2, "c":9.9}

In [76]:
1 in d1 #in operator never check for values present in dictionary, we only check for key..

False

In [77]:
9.9 in d1

False

In [79]:
"a" in d1

True

In [80]:
l2=[1,2,[10,20]]
10 in l2

False

In [81]:
2 in l2

True

In [82]:
20 in l2[-1]

True

In [83]:
d1.values()

dict_values([1, 2, 9.9])

In [84]:
1 in d1.values() # we can use this to check the values

True

In [85]:
 # Identity operator
    # compares the memory address of the 2 operands

In [86]:
a = 1000
b = 1000

In [87]:
id(a)==id(b)

False

In [88]:
x=10
y=10

In [89]:
id(x)== id(y)

True

In [90]:
# is operator return true if the memory address of the operands are same else it will return false

In [91]:
x is y

True

In [92]:
a is b

False

In [93]:
# is not operator return true if the memory address of the operands are different else it will return false

In [94]:
a is not b

True

In [95]:
x is not y

False

In [96]:
10 or 20+30
bool(10)

True

In [98]:
bool (50)

True

In [99]:
10 or 50

10

In [100]:
10 and 50

50

In [101]:
10+2*10 # * comes first then +

30

# precedence
# if an expression has more than 1 operations, python  proirities the order of execution
** ,
-~,
*,/,//,%,
+,-,
<<,>>,
&,
^,
|,
<,>,<=,>=,==,!=,
=,%=,/=,//=,-=,+=,*=,**=,
is, is not,
in ,not in,
not logical,
or logical,,
and logical,

In [102]:
10 / 10 *10

10.0

In [103]:
2**1**3 # right to left

2

In [104]:
# associativity table in manish sir notes

# if statement
 if condition:
        statement1
        statement2
        
        
        statetmentn

In [105]:
num =-10

if num<10:
    print("hey")

hey

In [12]:
num =-5
if num < 0:
    print("negative")
else:
    print("positive")
print("end of code")

negative
end of code

In [10]:
num =-5
if num < 0:
    print("negative")
    print("bye")
print("hey") # outside of if block because of identations

negative
bye
hey

In [11]:
num =9
if num < 0:
    print("negative")
    print("bye")
print("hey") # outside of if block because of identations

hey

In [14]:
num = -5
if num < 0:
    print( num, "is negative") #another format to mention the variablehelp(print)
    print("bye")
print("hey") # outside of if block because of identations

-5 is negative
bye
hey

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
a=10
b=20
c=30
print(a,b,c, " are numbers")

10 20 30  are numbers

In [21]:
a=10
b=20
c=30
print(a,b,c, " are numbers")

10 20 30  are numbers

In [22]:
print(a,b,c)

10 20 30

In [24]:
print(a,b,c, sep="@")

10@20@30

In [26]:
print("samiya") #\n is appended after the last value duw to which mehnaz prints in new line
print("mehnaz")

samiya
mehnaz

In [27]:
print("samiya", end="\t" ) #tab value takes 4 spaces
print("mehnaz")

samiya	mehnaz

In [31]:
print(a,b,c, sep="@" , end= "#")
print("samiya", sep="$",end = "^")

10@20@30#samiya^

In [32]:
num =-5
if num < 0:
    print(num, " is negative")
else:
    print(num, "is positive")
print("end of code")

-5  is negative
end of code

In [34]:
#f- strings
age=25
name="sam"
print(name,"is",age, "years old")

sam is 25 years old

In [39]:
print(f"{name} is {age} years old") #using f string

sam is 25 years old

In [40]:
num =-5
if num < 0:
    print(f" {num} is negative")
else:
    print(f" {num} is positive")
print("end of code")

 -5 is negative
end of code

In [41]:
print(f" {id(num)} is negative")

 140731874644584 is negative

In [42]:
marks = 90
if marks >=60:
    print('pass')
else:
    print("fails")

pass

In [47]:
marks =78
if marks >=90:
    print("grade id A")
elif marks >=80 and marks <=90:
    print("grade is b")
elif marks >=70 and marks<=80:
    print("grade is c")
else:
    print("fail")

grade is c

In [48]:
marks =40
if marks >=90:
    print("grade id A")
elif marks >=80 and marks <=90:
    print("grade is b")
elif marks >=70 and marks<=80:
    print("grade is c")
else:
    print("fail")

fail

# input() - used to take input from the user
help(input)

In [1]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [3]:
name = input("enter your name: ")

enter your name: Sam

In [4]:
name

'Sam'

In [7]:
first_name =input("enter your first name: ")
last_name =input("enter your last name: ")
print(f"Hello {first_name} {last_name}, how are you?")

enter your first name: sam
enter your last name: naaz
Hello sam naaz, how are you?

In [ ]:
#wap to take 2 inputs and display them

name=input("enter your name:")
age=input("enter your age:")
print(f"hello {name}", you are {age} years old")

In [9]:
# wap to take 2 inputs and display them

name=input("enter your name:")
age=input("enter your age:")
print(f"hello {name}, you are {age} years old.")

enter your name:sam
enter your age:24
hello sam, you are 24 years old

In [12]:
name=input("enter your name:")
age=input("enter your age:")
if age <= 60 : #age is considered as string,we should make it as int
    print(f"hello {name}, you are not a senior citizen.")
else:
    print(f"hello {name}, you are a senior citizen.")

enter your name:sam
enter your age:89

TypeError: '<=' not supported between instances of 'str' and 'int'

In [13]:
type(age) #input function always return a string

str

In [14]:
name=input("enter your name:")
age=input("enter your age:")
if int(age) <= 60 : #age is considered as string,we should make it as int
    print(f"hello {name}, you are not a senior citizen.")
else:
    print(f"hello {name}, you are a senior citizen.")

enter your name:sam
enter your age:29
hello sam, you are not a senior citizen.

In [15]:
name=input("enter your name:")
age=int(input("enter your age:")) #typecasting first
if age <= 60 : #age is considered as string,we should make it as int
    print(f"hello {name}, you are not a senior citizen.")
else:
    print(f"hello {name}, you are a senior citizen.")

enter your name:sam
enter your age:78
hello sam, you are a senior citizen.

# nested if

In [28]:
num=int(input("Enter a number: "))
if num>=0:
    print(f"{num} is positive")
    num=num*10 #num*=10
    if num>100:
        print(f"{num} is greater then 100")
    else:
        print(f"{num} is less then 100")
else:
    print(f"{num} is Negative")
    num = num+1 #num += 1
    if num%2==0:
            print(f"{num} is even")
    else:
        print(f"{num} is odd")
print("end of code")

Enter a number: -3
-3 is Negative
-2 is even
end of code

In [29]:
n=int(input("Enter a number: "))
if n % 2 != 0:
        print("Weird")
elif n % 2 == 0:
        if 2 <= n <= 5:
            print("Not Weird")
        elif 6 <= n <= 20:
            print("Weird")
        elif n > 20:
            print("Not Weird")

Enter a number: 4
Not Weird

n = int(input("enter number:"))
for i in range(3):
         print(i**2)

# loops 

Repeting the same task
1,while loop
2,for loop

while loop executes a block of code until a given condition is true.hence called condition based loop. when condition becomes false it terminates the loop.

while condition:
   s1
   s2
   s3
   .
   sn
end indentations

In [1]:
num = 1
while num < 10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9

In [2]:
num = 1
while num < 10:
    print(num)
    num+=1
print("bye") #out side the loop

1
2
3
4
5
6
7
8
9
bye

In [ ]:
lives = 3
while lives > 0:
    print(f"you have {lives} keep playing")
    dead = input ("are you dead?:")
    if dead=="yes":
        lives -=1
        
print("game over")

In [7]:
lives = 3
while lives > 0:
    print(f"you have {lives} keep playing")
    dead = input ("are you dead?:")
    if dead=="yes":
        lives -=1
        
print("game over")

you have 3 keep playing
are you dead?:yes
you have 2 keep playing
are you dead?:no
you have 2 keep playing
are you dead?:yes
you have 1 keep playing
are you dead?:no
you have 1 keep playing
are you dead?:yes
game over

In [8]:
# from 10 to 1 using while loop

num=10
while num > 0:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [10]:
# tabel of two
num=2
i=1
while i <= 10:
    print(f"{num} x {i} = {num*i}")
    i+=1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# for loop
# for is a iterator based loop.
# it steps through the items/elements of any iterable objects.(list,str,touple,set,dict) 
# and executes a block of code repetedly for a num of times equal to the number of elements of that iterable object.
#

for var in iterable_obj:
    s1
    s2
    s2
    .
    .
    sn
stop identation

#for each element of the iterable obj, it stores the element in an arbitary variable "var" 
#and executes the block of statement untill all the elements are exhausted

In [13]:
profit=[9, 10, 12.5, 11.0]
for var in profit:
    print(var)

9
10
12.5
11.0

In [14]:
profit=[9, 10, 12.5, 11.0]
for var in profit[::-1]: # to print reverse
    print(var)

11.0
12.5
10
9

In [17]:
t1=("a","c",10,12, True,"hello") #tuple
for var in t1:
    print(var)

a
c
10
12
True
hello

In [21]:
str="hello world"

In [23]:
for char in str:
    print(char)

h
e
l
l
o

w
o
r
l
d

In [24]:
len(str)

11

In [26]:
for char in str:
    print("HI") #hi is printed 11 times.

HI
HI
HI
HI
HI
HI
HI
HI
HI
HI
HI

In [30]:
s1={1,3,5,10.5, True , "bye"} #set does not have order, it will give order differently
for var in s1:
    print(var)

1
3
bye
5
10.5

In [31]:
s2={1:"sam",2:"naaz",3:"saam",4:"saaam"}
s2

{1: 'sam', 2: 'naaz', 3: 'saam', 4: 'saaam'}

In [32]:
for i in s2:
    print(i)

1
2
3
4

In [33]:
s2[2]

'naaz'

In [34]:
for i in s2:
    print(s2[i])

sam
naaz
saam
saaam

In [36]:
for i in s2:
    print(i,s2[i]) #by default space is the seperator by default

1 sam
2 naaz
3 saam
4 saaam

In [38]:
profit

[9, 10, 12.5, 11.0]

In [44]:
#output :
#profit for quater 1 is 9 
#profit for quater 2 is 10 
#profit for quater 3 is 12.5 
#profit for quater 4 is 11.0 

i=1
for var in profit:
    print(f"profit for quater {i} is {var} ")
    i+=1

profit for quater 1 is 9
profit for quater 2 is 10
profit for quater 3 is 12.5
profit for quater 4 is 11.0

In [56]:
#if we want to use the while loop
i=0
while i < len(profit):
    q=i+1
    print(f"profit for quater {q} is {profit[i]}")
    i+=1

profit for quater 1 is 9
profit for quater 2 is 10
profit for quater 3 is 12.5
profit for quater 4 is 11.0

In [59]:
s2

{1: 'sam', 2: 'naaz', 3: 'saam', 4: 'saaam'}

In [61]:
for i in s2.values():
    print(i)

sam
naaz
saam
saaam

In [62]:
s2.items() # it gives dict in the form of tuple,each tuple containg key and value pair

dict_items([(1, 'sam'), (2, 'naaz'), (3, 'saam'), (4, 'saaam')])

In [65]:
type(s2.items())

dict_items

In [66]:
for i in s2.items():
    print(i)

(1, 'sam')
(2, 'naaz')
(3, 'saam')
(4, 'saaam')

In [67]:
#output:
#the value of key 1 id sam
#the value of key 2 id naaz
#the value of key 3 id saam
#the value of key 4 id saaam

for i in s2.items():
    print(f"the value of key {i[0]} id {i[1]}")

the value of key 1 id sam
the value of key 2 id naaz
the value of key 3 id saam
the value of key 4 id saaam

In [68]:
t1=(10,"hello")
x,y=t1

In [69]:
x

10

In [70]:
y

'hello'

In [71]:
#using tuple unpacking
for v,k in s2.items():
    print(f"the value of key {v} id {k}")

the value of key 1 id sam
the value of key 2 id naaz
the value of key 3 id saam
the value of key 4 id saaam

In [72]:
for v,k in s2.items():
    print(v,k)

1 sam
2 naaz
3 saam
4 saaam

In [73]:
#range
#generate range of integers
#range(start,stop,step)

In [75]:
r1=range(10,15,1)
r1

range(10, 15)

In [76]:
list(r1)

[10, 11, 12, 13, 14]

In [77]:
type(r1)

range

In [78]:
for i in r1:
    print(i)

10
11
12
13
14

In [79]:
for i in range(10,20,2): #direct generating range
    print(i)

10
12
14
16
18

In [81]:
for i in range(10,5,1): #logical issue
    print(i)

In [82]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [86]:
for i in range(5):  #start is by defalut 0 and stop is by default is 1. stop is mandotary
    print(i)

0
1
2
3
4

In [87]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [88]:
profit

[9, 10, 12.5, 11.0]

In [90]:
#generate the index of list profit that is 0,1,2,3

for i in range(4):
    print(i)

0
1
2
3

In [91]:
for i in range(len(profit)):
    print(i)

0
1
2
3

In [92]:
for i in range(len(profit)):
    print(i,profit[i])

0 9
1 10
2 12.5
3 11.0

In [93]:
len(profit)

4

In [94]:
for i in range(len(profit)):
    print(f"profit for quater {i+1} is {profit[i]}")

profit for quater 1 is 9
profit for quater 2 is 10
profit for quater 3 is 12.5
profit for quater 4 is 11.0

In [95]:
#break
#used to terminate the loop

In [98]:
l1=[10,20,30,0,50,899]
for i in l1:
    print(i)

10
20
30
0
50
899

In [99]:
for i in l1:
    if i==0:
        break #terminates the loop
    print(i)

10
20
30

In [105]:
num =0
while num <10:
    if num==5:
        break
    print(num)
    num+=1

0
1
2
3
4

In [107]:
#continue
#skip the current iteration and go to next iteration.
num =0
while num <10:
    if num==5:
        continue #skips the iteration and anything written below the keyword, inside the loop is skipped
    print(num)
    num+=1

0
1
2
3
4

KeyboardInterrupt:

In [108]:
for i in l1:
    if i==0:
        continue
    print(i)

10
20
30
50
899

In [ ]:
# exit() function is used to exit from the program

In [110]:
for i in l1:
    if i==0 or i==20:
        continue
    print(i)

10
30
50
899

In [112]:
for i in l1:
    if i in [10,30]:
        continue
    print(i)

20
0
50
899

In [113]:
#nested loop
#loop inside loop
 
for i in range(3):
    print(i)

0
1
2

In [116]:
for i in range(3):
    for j in range(2): #inner loop has to be completed(example output 00,01) and next it will go to outer loop.
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [117]:
# pass
for i in l1:
    if i==0:
        pass #pass the control to the next line in the program/does nothing
    print(i)

10
20
30
0
50
899

In [118]:
print("hello")
pass
print("bye")

hello
bye

In [119]:
num = 100
if num>100: #if caanot be empty so we use pass ,to correct the syntax
else:
    print("so something")

IndentationError: expected an indented block after 'if' statement on line 2 (4235709910.py, line 3)

In [120]:
num = 100
if num>100:
    pass#if caanot be empty so we use pass ,to correct the syntax
else:
    print("so something")

so something

# loop and conditional assignment

In [ ]:
# ternary operator
#if else in a singl line is called ternary operator.
#true_expr if condition else false_expr
num5
if num%2==0:
    print("even")
else:
    print("false")

ter=print("even") if num%2==0 else print("false")
ter1="even" if num%2==0 else "false"

In [1]:
#seq of charecters enclosed within quotes
#immutable

s1="samiya"
s1

'samiya'

In [2]:
type(s1)

str

In [3]:
s1[0]

's'

In [4]:
s1[4:7:1]

'ya'

In [5]:
s2="hello"
s3="bye"

In [6]:
s2+s3 #concatination

'hellobye'

In [8]:
s2 *3 #repetations

'hellohellohello'

In [9]:
if "sam" in s1:
    print("yes")
else:
    print("no")

yes

In [10]:
if "sam" in s2:
    print("yes")
else:
    print("no")

no

In [11]:
str1=input("enter a string: ")
str2= input("enter s substring to search in the above string: ")

if str2 in str1:
    print("yes")
else:
    print("no")

enter a string: mehnaaz
enter s substring to search in the above string: naaz
yes

In [12]:
str1=input("enter a string: ")
str2= input("enter s substring to search in the above string: ")

if str2 == str1:
    print("same")
else:
    print("different") #spaces are different

enter a string:         python
enter s substring to search in the above string:    python
different

In [13]:
str1

'        python'

In [14]:
str1.strip() #remove the spaces FROM START AND END

'python'

In [15]:
str1 #it will not change as it is immutable

'        python'

In [16]:
help(str1.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [17]:
"wwwpythonww".strip()

'wwwpythonww'

In [20]:
"wwwpythonww".strip("w")     #If chars is given and not None, remove characters in chars instead.

'python'

In [21]:
str3="we are learning python"

In [22]:
str3

'we are learning python'

In [23]:
str3.strip() #spacee will not be removed from middle

'we are learning python'

In [24]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [26]:
"wwwpythonwwsssss".strip("w")

'pythonwwsssss'

In [30]:
"wwwpythonwwss".strip("w").strip("s")

'pythonww'

In [28]:
#rstrip() wil delete from right side and lstrip() will delete from left side
str4="wwwpythonwwsssss"
str4.rstrip("w")

'wwwpythonwwsssss'

In [29]:
str4="wwwpythonwwsssss"
str4.lstrip("w")

'pythonwwsssss'

In [31]:
"          wwwpythonww     ".lstrip()

'wwwpythonww     '

In [32]:
"          wwwpythonww     ".rstrip()

'          wwwpythonww'

In [34]:
str4="wwwpythonwwsssss"
str4.lstrip("w").rstrip("s")

'pythonww'

In [35]:
#find() gives the index value of the first occurance of the charecter
s1

'samiya'

In [37]:
s1.find("s")

0

In [38]:
s1.find()

TypeError: find() takes at least 1 argument (0 given)

In [40]:
s1.find("a")

1

In [41]:
str3

'we are learning python'

In [43]:
str3.find("python") #gives the first charecter index that is p

16

In [44]:
str3.find(" ar")

2

In [46]:
str3.find("z") #-1 indecates char is not present in string

-1

In [48]:
#rfind  right side first occurence
str3.rfind("e")

8

In [49]:
#index is same as find
str3.find("python")

16

In [50]:
str3.index("z") #-1 indecates char is not present in string and index function gives error

ValueError: substring not found

In [51]:
#rindex  right side first occurence
str3.rindex("e")

8

In [12]:
#find all the idexes of "e" in str3
str3

NameError: name 'str3' is not defined

In [62]:
for c in range(len(str3)):
    if str3[c]=="e":
        print(c)

1
5
8

In [63]:
str3

'we are learning python'

In [65]:
#count of occurance of "e"
str3.count("e")

3

In [66]:
count=0
for char in str3:
    if char=="e":
        count+=1
print(count)

3

In [67]:
str3.count("python")

1

In [68]:
str3.count("d") #zero means there are no d values in given string

0

In [1]:
#enumerate()
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [2]:
l1=[10,20,30,40]
l1

[10, 20, 30, 40]

In [4]:
e1=enumerate(l1)
e1

In [5]:
type(e1)

enumerate

In [6]:
list(e1) #give list of emumerated

[(0, 10), (1, 20), (2, 30), (3, 40)]

In [7]:
l1

[10, 20, 30, 40]

In [11]:
for i in enumerate(l1):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)

In [13]:
str3='we are learning python'
for index,char in enumerate(str3):
    if char =="e":
        print(index)

1
5
8

In [14]:
profits = [10,12,19,15]
profits

[10, 12, 19, 15]

In [15]:
for i in enumerate(profits,start=2015): #start is by default zero but we can change it.
    print(i)

(2015, 10)
(2016, 12)
(2017, 19)
(2018, 15)

In [16]:
str3.replace("w","W") #STRINGS ARE immutab;e but when we replace the value it will addded in new address and original value does not change

'We are learning python'

In [17]:
str3

'we are learning python'

In [18]:
str3.replace("n","N") #all values get changed.

'we are learNiNg pythoN'

In [20]:
str3.replace("n","N",2) # only 2 n will change from left

'we are learNiNg python'

In [21]:
#split() #split the string from spaces and put it in a list
str3.split()

['we', 'are', 'learning', 'python']

In [24]:
str3.split("a") #a will not be the part of the output

['we ', 're le', 'rning python']

In [26]:
str3.split("n") #if the split char is at the end it will give the emplty space in the last

['we are lear', 'i', 'g pytho', '']

In [27]:
s2="mango,apple,orange,grapes"
s2

'mango,apple,orange,grapes'

In [28]:
fruits=s2.split(",")

In [29]:
fruits

['mango', 'apple', 'orange', 'grapes']

In [30]:
#join() #join the values with given char
"-".join(fruits)

'mango-apple-orange-grapes'

In [32]:
s3="hello"
"$".join(s3)

'h$e$l$l$o'

In [34]:
"@".join(str3)

'w@e@ @a@r@e@ @l@e@a@r@n@i@n@g@ @p@y@t@h@o@n'

In [35]:
#upper()
"python".upper()

'PYTHON'

In [37]:
"python 3.11".upper() #non alpha char are ignored

'PYTHON 3.11'

In [39]:
#lower()
"PYTHON".lower()

'python'

In [41]:
str3.swapcase() #used to swap from small to caps and caps to small

'WE ARE LEARNING PYTHON'

In [42]:
'we are LEARNING PYTHON'.swapcase()

'WE ARE learning python'

In [44]:
#startwith() #gives true or false
str3.startswith("we")

True

In [45]:
str3.startswith("and")

False

In [46]:
str3.endswith("python")

True

In [48]:
str3.endswith("n")

True

In [49]:
str3.endswith("we")

False

In [50]:
help(str) #all function in string

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# lists
sequence of hetrogenous elements enclosed in square brackts[] mutable and ordered

In [61]:
l1=[10,99.5,"python",True]
l1

[10, 99.5, 'python', True]

In [53]:
type(l1)

list

In [54]:
len(l1)

4

In [55]:
l1[0]

10

In [57]:
l1[3]

True

In [58]:
l1[2:4:1]

['python', True]

In [60]:
l2=[1,5,-1,7,9,3,2,10,4,7]
l2

[1, 5, -1, 7, 9, 3, 2, 10, 4, 7]

In [65]:
#print only even numbers
for i in l2:
    if i%2==0:
        print(i)

2
10
4

In [68]:
#output in list 
lst=[] #or lst=list()
for i in l2:
    if i%2==0:
        lst.append(i)
print(lst)

[2, 10, 4]

In [69]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [70]:
l1

[10, 99.5, 'python', True]

In [71]:
l1[0]=100

In [72]:
l1

[100, 99.5, 'python', True]

In [73]:
l1.append([10,20]) #append only take 1 elemnt at a time.

In [74]:
l1

[100, 99.5, 'python', True, [10, 20]]

In [75]:
l1.append({1:"sam", 2:"naaz"})

In [76]:
l1

[100, 99.5, 'python', True, [10, 20], {1: 'sam', 2: 'naaz'}]

In [77]:
#insert
help(l1.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [78]:
l1.insert(4,"hello") #add hello at 4th posistion

In [79]:
l1

[100, 99.5, 'python', True, 'hello', [10, 20], {1: 'sam', 2: 'naaz'}]

In [80]:
l1.insert(2,[10,30])

In [81]:
l1

[100, 99.5, [10, 30], 'python', True, 'hello', [10, 20], {1: 'sam', 2: 'naaz'}]

In [82]:
len(l1)

8

In [83]:
l1.insert(12, "lol") #if index in not present in list,it will add it to the end of the list

In [84]:
l1

[100,
 99.5,
 [10, 30],
 'python',
 True,
 'hello',
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol']

In [85]:
#extend
help(l1.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [86]:
l1.extend([1,2,3])    # Extend list by appending elements from the iterable individually

In [87]:
l1

[100,
 99.5,
 [10, 30],
 'python',
 True,
 'hello',
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3]

In [88]:
l1.extend(10) #only use for iterable objects

TypeError: 'int' object is not iterable

In [89]:
l1.extend("hi")

In [90]:
l1

[100,
 99.5,
 [10, 30],
 'python',
 True,
 'hello',
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3,
 'h',
 'i']

In [91]:
l1.extend({1:"haha",2:"sami"}) #it will add keys of the dict

In [92]:
l1

[100,
 99.5,
 [10, 30],
 'python',
 True,
 'hello',
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3,
 'h',
 'i',
 1,
 2]

In [95]:
#remove
l1.remove("hello") #hello is removed
l1

[100,
 99.5,
 [10, 30],
 'python',
 True,
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3,
 'h',
 'i',
 1,
 2]

In [96]:
l1.remove(100) #IT removed first value from left side

In [97]:
l1

[99.5,
 [10, 30],
 'python',
 True,
 [10, 20],
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3,
 'h',
 'i',
 1,
 2]

In [98]:
l1.remove([10,20])

In [99]:
l1

[99.5,
 [10, 30],
 'python',
 True,
 {1: 'sam', 2: 'naaz'},
 'lol',
 1,
 2,
 3,
 'h',
 'i',
 1,
 2]

In [101]:
#pop()
#remove values based on index and display the value
l1.pop(4)

'lol'

In [102]:
l1

[99.5, [10, 30], 'python', True, 1, 2, 3, 'h', 'i', 1, 2]

In [103]:
l1.pop(-1)

2

In [104]:
l1.pop() #by default it willdelete last element

1

In [105]:
l1

[99.5, [10, 30], 'python', True, 1, 2, 3, 'h', 'i']

In [108]:
dele_val=l1.pop(3) #no output as elemnt is assigned to dele_val

In [109]:
dele_val

True

In [110]:
l1.pop(20) #out of range error

IndexError: pop index out of range

In [113]:
#count()
l1.count(2) #writtens how many times 2 is present in it

1

In [114]:
l1.count("python")

1

In [115]:
#find() # find function is not present for list
l1.find("True")

AttributeError: 'list' object has no attribute 'find'

In [116]:
l1.reverse() #reverse entire list permanently

In [117]:
l1

['i', 'h', 3, 2, 'python', [10, 30], 99.5]

In [118]:
l1[::-1] #slicing as reverse the list but the original value will not be changed.

[99.5, [10, 30], 'python', 2, 3, 'h', 'i']

In [119]:
l1

['i', 'h', 3, 2, 'python', [10, 30], 99.5]

In [123]:
l2=[9,4,10,200,300,5000,30]

In [124]:
l2.sort() #for ascending order
l2

[4, 9, 10, 30, 200, 300, 5000]

In [125]:
l2.sort(reverse=True) #for descending order
l2

[5000, 300, 200, 30, 10, 9, 4]

In [126]:
l1.sort() #error as we cannot sort int and string

TypeError: '<' not supported between instances of 'int' and 'str'

In [127]:
l1.clear() #permanently remove all the elements of the list and keep it empty
l1

[]

In [128]:
l2

[5000, 300, 200, 30, 10, 9, 4]

In [129]:
l3=[20,40,50]
l3+l2 #concatenation

[20, 40, 50, 5000, 300, 200, 30, 10, 9, 4]

In [130]:
l3  * 3 #repet 3 times but list will not be changed

[20, 40, 50, 20, 40, 50, 20, 40, 50]

In [131]:
l3

[20, 40, 50]

In [136]:
min(l3) #gives min value

20

In [137]:
max(l3) #gives max value

50

In [138]:
sorted(l3) #gives the copy but the l3 will not be changed where as sort will permanently change the l3

[20, 40, 50]

In [139]:
l3

[20, 40, 50]

In [140]:
l4=[0,8,-3,"hi"] #not work becaus of 'str' and 'int'
max(l4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [1]:
l1=[3,5,7,9,100,-4,6]
l1

[3, 5, 7, 9, 100, -4, 6]

In [3]:
0 in l1

False

In [4]:
100 in l1

True

In [5]:
#aliasing and cloning
#aliasing -providing another name to an exixting list

In [6]:
l1

[3, 5, 7, 9, 100, -4, 6]

In [7]:
id(l1)

1414860663808

In [8]:
l2=l1 #will have same memory address and it is called aliasing(same person with 2 name)

In [9]:
id(l2)

1414860663808

In [10]:
#cloning- making exact copy of an existing list and value will be same but id will be different(two different entity and different memory address)
l3=l1.copy()

In [11]:
l3

[3, 5, 7, 9, 100, -4, 6]

In [12]:
id(l3)

1414855821056

In [13]:
id(l1)

1414860663808

In [14]:
l1[0]=100

In [15]:
l1

[100, 5, 7, 9, 100, -4, 6]

In [17]:
id(l1)

1414860663808

In [18]:
l2 #l2 values be chaged as both al1 and l2 are pointing to same memry address

[100, 5, 7, 9, 100, -4, 6]

In [28]:
l4=[10,30,49,[0,-44]]
l4

[10, 30, 49, [0, -44]]

In [21]:
l5=l4

In [22]:
l5

[10, 30, 49, [0, -44]]

In [29]:
l6=l4.copy()
l6

[10, 30, 49, [0, -44]]

In [30]:
l4[3][0]=10

In [31]:
l4

[10, 30, 49, [10, -44]]

In [32]:
l5

[10, 30, 49, [10, -44]]

In [33]:
l6 #l6 value also chaged as list is mutable and that inner list address is same.

[10, 30, 49, [10, -44]]

In [ ]:
# above one is called shallow copy - copy()

In [ ]:
#deep copy - if we wnt the inner ele of the copied list to have different memoery address
#there is a module called "deepcopy()" that helps us to do deepcopy to any mutable objects.

In [35]:
import copy
l7=copy.deepcopy(l4)
l7

[10, 30, 49, [10, -44]]

In [36]:
id(l4)

1414873934528

In [37]:
id(l7)

1414873509760

In [38]:
l4[-1][0]=100
l4

[10, 30, 49, [100, -44]]

In [39]:
l7 #does not change as the inner list address is different

[10, 30, 49, [10, -44]]

In [40]:
l6 #shallow copy hence it will change

[10, 30, 49, [100, -44]]

In [41]:
id(l4[-1])

1414865830912

In [44]:
id(l7[-1])

1414873507264

In [43]:
id(l6[-1])

1414865830912

In [45]:
l1

[100, 5, 7, 9, 100, -4, 6]

In [46]:
#wap to get maximum value:
max_val = 0
for i in l1:
    if i >max_val:
        max_val=i
print(max_val)

100

In [48]:
l2=[-7,-4,-9,-1,-3] #gives inccorect answer
max_val = 0
for i in l2:
    if i >max_val:
        max_val=i
print(max_val)

0

In [49]:
max_val = l2[0] #correct logic,this can be used to check all the elements in the list
for i in l2:
    if i >max_val:
        max_val=i
print(max_val)

-1

In [50]:
#wap to minimum value
min_val = 0
for i in l2:
    if i <min_val:
        min_val=i
print(min_val)

-9

In [54]:
l10=[100,200,300,400]
#sum of all the ele 
total=0
for i in l10:
    total=total+i
print(total)

1000

In [55]:
sum(l10)

1000

In [56]:
#list comprehension
#represents creation of new list from an iterable object in the singl line
l1

[100, 5, 7, 9, 100, -4, 6]

In [58]:
new_lst=[]
l8=[100,5,-1,4]
#new list with output [10000,25,1,16]
for i in l8:
    a=i**2 #or new_lst.append(i**2)
    new_lst.append(a)
print(new_lst)

[10000, 25, 1, 16]

In [60]:
#also
out=[ele**2 for ele in l8] #list comprehension
out

[10000, 25, 1, 16]

In [59]:
l3=[5,3,2,6,4,7,9]
l3

[5, 3, 2, 6, 4, 7, 9]

In [61]:
#output=[25,9,8,216,64,49,81] for even its cube, for ood its square
res=[]
for ele in l3:
    if ele%2==0:
        res.append(ele**3)
    else:
        res.append(ele**2)
print(res)

[25, 9, 8, 216, 64, 49, 81]

In [70]:
res = [ele**3 if ele %2 == 0 else ele**2 for ele in l3]
res

[25, 9, 8, 216, 64, 49, 81]

# Tuple
collection of hetrigenous elements enclised within() and they are immutable.

In [71]:
t1=(1,4,100,-7)
t1

(1, 4, 100, -7)

In [72]:
type(t1)

tuple

In [73]:
t1[0]

1

In [74]:
t1[-1]

-7

In [75]:
t1[2:5]

(100, -7)

In [76]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [79]:
t2=(10,3,11,10,2,4,6,3,3,3) #count the occurence of the element given in brackets
t2.count(3)

4

In [82]:
t2.index(4) #give index of value 4

5

In [84]:
t1 + t2 #concatenation

(1, 4, 100, -7, 10, 3, 11, 10, 2, 4, 6, 3, 3, 3)

In [85]:
t1 * 2 #values will not change

(1, 4, 100, -7, 1, 4, 100, -7)

In [86]:
t1

(1, 4, 100, -7)

In [87]:
min(t1)

-7

In [88]:
max(t1)

100

In [89]:
sum(t1)

98

In [90]:
len(t1)

4

In [91]:
for i in t1:
    print(i)

1
4
100
-7

# dictionary
 - it is a comma seprated key-value pair enclosed within{}
 -they are mutable
 - key:value

In [93]:
d1={"a":1,"b":2}
d1

{'a': 1, 'b': 2}

In [94]:
type(d1)

dict

In [96]:
d1["a"]

1

In [97]:
d1["b"]

2

In [98]:
d1["a"]=100

In [99]:
d1

{'a': 100, 'b': 2}

In [100]:
d1["c"]=200

In [101]:
d1

{'a': 100, 'b': 2, 'c': 200}

In [103]:
d2={[1,2,3]:10} #mutable obj cannt be added as a key

TypeError: unhashable type: 'list'

In [104]:
d1={"a":1,"b":2,"a":3,"c":6} #key cannot be dublicate but if dublicate key is present latest value from the right side is taken
d1

{'a': 3, 'b': 2, 'c': 6}

In [105]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [106]:
d1.items() #output in the form of tuple

dict_items([('a', 3), ('b', 2), ('c', 6)])

In [107]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [108]:
d1.values()

dict_values([3, 2, 6])

In [109]:
student1={"id":1001,"name":"jill","percentage":71.5}
student1

{'id': 1001, 'name': 'jill', 'percentage': 71.5}

In [110]:
student1.get("name")

'jill'

In [112]:
student1["name"]

'jill'

In [114]:
student1["phone"]

KeyError: 'phone'

In [116]:
student1.get("phone") #it will not give error just returns the value if key is present.if key is not present it will returns none means no output.

In [117]:
print(student1.get("phone"))

None

In [118]:
print(student1.get("phone",999999)) #we can change the default value

999999

In [119]:
student1.get("id",1111) #value is present hence value is output not 1111#

1001

In [125]:
#update()
student1.update({"city":"hyd","grade":"c",'percentage': 80}) #percentage is updated
student1

{'id': 1001, 'name': 'jill', 'percentage': 80, 'city': 'hyd', 'grade': 'c'}

In [126]:
#pop()
student1.pop("name") #key is given in the argument and removes the key value pair in the dict and returns the value as output

'jill'

In [127]:
student1

{'id': 1001, 'percentage': 80, 'city': 'hyd', 'grade': 'c'}

In [128]:
student1.pop() #if no key is given ,error

TypeError: pop expected at least 1 argument, got 0

In [129]:
deleted_value=student1.pop("city")
deleted_value

'hyd'

In [130]:
str1="hello world"
str1

'hello world'

In [136]:
#output{"h":1,"e":1,"l":3,"o":2....}
out_dict={}
for i in str1:
    if i in out_dict:
        out_dict[i]+=1
    else:
        out_dict[i]=1
print(out_dict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [137]:
#copy()
student1

{'id': 1001, 'percentage': 80, 'grade': 'c'}

In [138]:
student2=student1 #aliasing

In [139]:
id(student1)

1414876956096

In [143]:
id(student2)

1414876956096

In [144]:
student3=student1.copy() #shallowcopy/cloning
student3

{'id': 1001, 'percentage': 80, 'grade': 'c'}

In [145]:
id(student3)

1414856724992

In [146]:
student1["percentage"]=85
student1 #change

{'id': 1001, 'percentage': 85, 'grade': 'c'}

In [147]:
student2 #change

{'id': 1001, 'percentage': 85, 'grade': 'c'}

In [148]:
student3 #not change

{'id': 1001, 'percentage': 80, 'grade': 'c'}

In [149]:
student1.get("grade")

'c'

In [150]:
student3.clear()

In [151]:
student3

{}

In [152]:
help(student1.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [153]:
student1.setdefault("name","sam")    # Insert key with a value of default if key is not in the dictionary here is sam is defalut

'sam'

In [154]:
student1

{'id': 1001, 'percentage': 85, 'grade': 'c', 'name': 'sam'}

In [155]:
student1.setdefault("id","500")  #   Return the value for key if key is in the dictionary, else default.

1001

# Functions
-A bloack of  code that does a specific task when it is called and it is resuable.
- provides modularity
-

In [1]:
#example len() is in-built function
l1=[1,2,3,4,5,6,7]
len(l1)

7

# we can write out own function called as user define function
def function_name(arg1,arg2,..):
    satement1
    statement2
    .
    .
    statementn

In [2]:
def greet():
    print("Hello every1")
    print("we are learning python")
    print("bye")

In [3]:
#calling the function.
#funcion_name(arg values)
greet()

Hello every1
we are learning python
bye

In [4]:
def greet_person(name):
    print(f"hello {name}, good morning!")

In [6]:
greet_person("sam")

hello sam, good morning!

In [7]:
greet_person("Naaz")

hello Naaz, good morning!

In [8]:
greet_person() #missing arg will give error

TypeError: greet_person() missing 1 required positional argument: 'name'

In [9]:
help(greet_person)

Help on function greet_person in module __main__:

greet_person(name)

In [12]:
def even_odd(num1):
    if num1 %2 ==0:
        print("even")
    else:
        print("odd")

In [13]:
even_odd(5)

odd

In [14]:
even_odd(8)

even

In [15]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [20]:
out=l1.append(100) #will apend it but it will not return anything.

In [17]:
l1

[1, 2, 3, 4, 5, 6, 7, 100]

In [21]:
print(out) #it will not return anything

None

In [23]:
val = l1.pop(2) #it will be return value

In [25]:
print(val)

3

In [26]:
result = even_odd(10)

even

In [28]:
print(result) #will not retun anything as we are not returning anything,we are only priting the value.

None

In [29]:
#to return a values from a function wE USE KEYword "return"
def even_odd(num1):
    if num1 %2 ==0:
        return "even"
    else:
        return "odd"

In [34]:
result = even_odd(10) #not giveing output as we are returning values not printing

In [32]:
print(result)

even

In [35]:
def arith(num1,num2):
    add=num1+num2
    return add #it will return to the main programe,after return keyword next step of code are ignored.
    sub = num1-num2
    return sub
    multi = num1*num2
    return multi

In [36]:
result = arith(1,5)

6

In [37]:
def arith(num1,num2):
    add=num1+num2 
    sub = num1-num2
    
    multi = num1*num2
    return add,sub,multi

In [43]:
result=arith(2,10)
result

(12, -8, 20)

In [41]:
type(result)

tuple

In [44]:
x,y,z=arith(3,10) #tuple unpacking

In [45]:
x

13

In [46]:
y

-7

In [47]:
z

30

In [51]:
def add(num1,num2):
    return num1+num2

In [52]:
add(1,2)

3

In [53]:
add(1)

TypeError: add() missing 1 required positional argument: 'num2'

In [54]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [55]:
add(10,"hello") #values will be assigned but operation cannot be performed.unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [56]:
add("hi","hello")

'hihello'

In [57]:
#annotation
def add(a:int,b:int): #annotating means just mention that a and b are expecting int as argumnts but there is no restriction.we can give anything
    return a+b

In [58]:
add("hi",10)

TypeError: can only concatenate str (not "int") to str

In [59]:
add("hi","hello")

'hihello'

In [63]:
#docstring
def add(a,b): #documentation must be first thing in the code and enclosed within tripl quotes
    """ 
    returns the sum of a and b 
    a:is first int 
    b:is second int
    """
    return a+b

In [61]:
add(2,5)

7

In [64]:
help(add)

Help on function add in module __main__:

add(a, b)
    returns the sum of a and b
    a:is first int
    b:is second int

In [67]:
def add(a,b):
    print("lol") #as the doc is mention second it will not be considered as doc
    """ 
    returns the sum of a and b 
    a:is first int 
    b:is second int
    """
    return a+b

In [68]:
add(5,6)

lol

11

In [69]:
help(add) #doc is not mentioned

Help on function add in module __main__:

add(a, b)

In [ ]:
def add(a:int,b:int)->int: #here -> int indecates that the out put will also be an int but it is not complusary

In [71]:
isinstance("hi",str) #check if hi is a str

True

In [72]:
isinstance(10,int) #check if 10 is a int?

True

In [74]:
# types of arguments
#positional argumenst
def add(a,b):
        return a+b

In [75]:
add(10,5) #a and b are positional arguments

15

In [76]:
#defalut argument
def add(a,b=1): #here b is default arg and b value is 1,it is an optional arg now
        return a+b

In [77]:
add(10,10)

20

In [78]:
add(10) #here b is given the defalut value

11

In [79]:
def add(a=9,b=1): #here a and b are default arg
        return a+b

In [80]:
add()

10

In [81]:
add(10,20)

30

In [84]:
#key word agrumnt- 
def add(a=3,b=5):
        return a+b 
add(b=20) #assign 20 to arg b, then b is called keyword argument.

23

In [85]:
add(a=8) # a is keyword arg

13

In [88]:
def add(a,b): #a and b are keyword arguments
    print(a)
    print(b)
    return a+b
add(b=2,a=7)

7
2

9

In [89]:
#note-both and b both can be default as well as keyword argumnt

In [90]:
add(b=2,7) # positional argument follows keyword argument which is wrong hence error

SyntaxError: positional argument follows keyword argument (927644333.py, line 1)

In [92]:
add(2,b=7) #this is possible

2
7

9

In [94]:
def add(a,b,c):
    print(f"{a} is a")
    print(f"{b} is b")
    print(f"{c} is c")
    return a+b+c

In [95]:
help(add)

Help on function add in module __main__:

add(a, b, c)

In [96]:
add(10,20,30)

10 is a
20 is b
30 is c

60

In [97]:
add(1,2)

TypeError: add() missing 1 required positional argument: 'c'

In [98]:
add(a=10,c=20,b=30) #keyword arg ,seq is not mandatory

10 is a
30 is b
20 is c

60

TypeError: add() got multiple values for argument 'a'

In [101]:
def add(a,b=20,c=30):
    print(f"{a} is a")
    print(f"{b} is b")
    print(f"{c} is c")
    return a+b+c

In [102]:
add(1)

1 is a
20 is b
30 is c

51

In [103]:
add(a=1)

1 is a
20 is b
30 is c

51

In [104]:
add(b=10) #a value missing

TypeError: add() missing 1 required positional argument: 'a'

In [105]:
add(a=10,b=40)

10 is a
40 is b
30 is c

80

In [107]:
add(7,8,a=10) #add() got multiple values for argument 'a' incorrect

TypeError: add() got multiple values for argument 'a'

In [108]:
def add(a,b=1,c): # it is an error non-default argument follows default argument 
    print(f"{a} is a")
    print(f"{b} is b")
    print(f"{c} is c")
    return a+b+c

SyntaxError: non-default argument follows default argument (1819962365.py, line 1)

In [109]:
def add(a,c,b=1):# a default arg should be defined after all the positional arg
    print(f"{a} is a")
    print(f"{b} is b")
    print(f"{c} is c")
    return a+b+c

In [110]:
add(1,2)

1 is a
1 is b
2 is c

4

In [111]:
add(12,13,14)

12 is a
14 is b
13 is c

39

In [112]:
add(c=20,a=10)

10 is a
1 is b
20 is c

31

In [113]:
#for addingn n number of arg (variable length arg)
#*args is used for accepting 0 or more arg values in the function.

def f1(*args):
    pass

In [115]:
f1()

In [116]:
f1(2,3,4)

In [118]:
f1(1,2,3,4,5,6,7,8,"hi")

In [119]:
def add(*args):
    print(args)
    print(type(args))

In [120]:
add(1,2,3,5,5,)

(1, 2, 3, 5, 5)
<class 'tuple'>

In [121]:
add()

()
<class 'tuple'>

In [122]:
add(1) #if we give one argumnt it will give as 1,

(1,)
<class 'tuple'>

In [123]:
add(10,)#we can also give it as (10, )

(10,)
<class 'tuple'>

In [127]:
def add(*args):
    total=0
    for i in args:
        total += i
    print(total)

In [128]:
add(1,2,3,4,5,6,7,10)

38

In [129]:
add(1,2)

3

In [131]:
add(1)

1

In [132]:
add(1,2,4,6,28880)

28893

In [ ]:
# args is a convention/standard

In [1]:
#variable length keyword arguments-**kwargs
def f1(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [2]:
f1(a=10,b=20,c="python") #user decides what args eed to be passed hence it will store as dictionary
f1

{'a': 10, 'b': 20, 'c': 'python'}
<class 'dict'>

In [9]:
def calculate_percent(**marks):
    print(marks)
    total=sum(marks.values())
    num_of_sub=len(marks)
    percent=total/num_of_sub
    return percent

In [10]:
calculate_percent(phy=84,chem=86,math=91,python=95)

{'phy': 84, 'chem': 86, 'math': 91, 'python': 95}

89.0

In [11]:
calculate_percent(phy=54,chem=86,math=95)

{'phy': 54, 'chem': 86, 'math': 95}

78.33333333333333

In [12]:
# lambda function 
#anonymous function or a function without a name
#function defination in a singl line.
#lambda arg1,arg2,....,argn:expression

In [13]:
def square(num):
    return num**2

In [14]:
square(5)

25

In [15]:
lambda num:num**2

In [16]:
(lambda num:num**2)(6)  #first method

36

In [17]:
(lambda num:num**2)(4) #by doing this reuseablilty factor is missing as we have to write it again and again

16

In [18]:
sq=(lambda num:num**2) #solution to the first method prob

In [19]:
sq(9)

81

In [ ]:
#lambda keyword is used
#thereis no function name
#there is no return keyword in lambda,the exp gets evaluated and returned implicitly
#it is a singl line function

In [20]:
add=lambda x,y : x+y

In [21]:
add(10,9)

19

In [22]:
add=lambda x,y=1 : x+y

In [23]:
add(10)

11

In [26]:
add_all= lambda *args : sum(args)

In [27]:
add_all(1,2,3,4,5,7,8,8)

38

In [28]:
add_all(10,20)

30

In [33]:
is_even= lambda x : True if x % 2==0 else False

In [34]:
is_even(10)

True

In [35]:
is_even(9)

False

In [36]:
#map() function
# it will take one function and then iterable objects as arguments and perform function on each obj

In [ ]:
#map(function,iterable_obj)

In [38]:
is_even(18)

True

In [39]:
l1=[1,2,3,4,5,6]

In [40]:
l1

[1, 2, 3, 4, 5, 6]

In [42]:
a=map(is_even,l1) #output is stored in a andit will be mapped

In [43]:
a

In [44]:
type(a)

map

In [46]:
list(a) #to check the output we have to typecast it.

[False, True, False, True, False, True]

In [53]:
fruits = ["mango","apple","orange"]

In [54]:
#create a new list with each element titlled
#["Mango","Apple","Orange"]
out=[]
for f in fruits:
    out.append(f.title())
print(out)

['Mango', 'Apple', 'Orange']

In [57]:
a=lambda l1: [i.title() for i in l1] #using labda function

In [59]:
a(fruits)

['Mango', 'Apple', 'Orange']

In [63]:
res = lambda s1 : s1.title() #using map function
map(res,fruits)

In [64]:
list(map(res,fruits))

['Mango', 'Apple', 'Orange']

In [66]:
list(map(lambda s1 : s1.title(),["mango","apple","orange"])) #another direct method

['Mango', 'Apple', 'Orange']

In [67]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [70]:
list(map(lambda x,y:x+y, [1,2,3],[2,3,4]))

[3, 5, 7]

In [71]:
list(map(lambda x,y:x+y, [1,2,3])) #missing 1 required positional argument: 'y'

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [72]:
list(map(lambda x,y=1:x+y, [1,2,3]))

[2, 3, 4]

In [73]:
list(map(lambda x,y:x+y, [1,2,3,4],[2,3,4])) #mismatch in values does not give error,extra element gets ignored and stopeed
#Stops when the shortest iterable is exhausted and discard other values

[3, 5, 7]

In [74]:
#filter
#filter(func,iterable) #it will take only one iterator
#Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [75]:
list(map(lambda x: True if x % 2==0 else False,[10,305,35,40]))

[True, False, False, True]

In [76]:
list(filter(lambda x: True if x % 2==0 else False,[10,305,35,40])) #it gives only ele which have true value

[10, 40]

In [77]:
list(filter(lambda x: x**2,[1,2,3,4,5])) #here 1,4,9,16,25 are true hene it will give ele which has true value hence the output is 12345

[1, 2, 3, 4, 5]

In [78]:
bool(25)

True

In [79]:
bool(16)

True

In [80]:
bool(9)

True

In [81]:
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [82]:
#reduce()
reduce(lambda x,y:x+y,[1,2,3,4]) #not a part of buit in func hence error

NameError: name 'reduce' is not defined

In [84]:
#reduce() func is part of functools module
#hence we have to import it
import functools

In [85]:
functools.reduce(lambda x,y:x+y,[1,2,3,4])

10

In [86]:
help(functools.reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [87]:
functools.reduce(lambda x,y:x*y,[1,2,3,4])

24

In [88]:
functools.reduce(lambda x,y:(x+y)*2,[1,2,3,4])

44

In [90]:
functools.reduce(lambda x,y:x+y,[1,2,3,4],10) #it will work as [10,1,2,3,4]

20

In [91]:
functools.reduce(lambda x,y:x+y,[]) #error

TypeError: reduce() of empty iterable with no initial value

In [92]:
functools.reduce(lambda x,y:x+y,[],0) #to avoide error

0

In [ ]:
#Iterators and generators
# Iteration-repetedly executing a block of code.
#iterable objects-sets,strings,tuple,list,dict..obj on which iteration can be performed
#iterator-it is an object which is used to iterate on an iterable 
#iterator helps to perform iteration on an iterable

In [93]:
#iter()=> to create an iterator

In [ ]:
l1=[1,2,3,4,5,6,7]

In [94]:
i1=iter(l1)

In [95]:
print(i1)

<list_iterator object at 0x000001BFCD2DE110>

In [97]:
type(i1)

list_iterator

In [98]:
#next() #to fetch the ele of iter

In [99]:
help(next)

Help on built-in function next in module builtins:

next(...)
    next(iterator[, default])

    Return the next item from the iterator. If default is given and the iterator
    is exhausted, it is returned instead of raising StopIteration.

In [100]:
next(i1)

1

In [101]:
next(i1)

2

In [103]:
next(i1) #when all elemnts are over it will give stop iteration error,to avoide it default vaue 0 is given

3

In [106]:
next(i1)

5

In [107]:
next(i1)

6

In [108]:
next(i1)

StopIteration:

In [109]:
next(i1,0)

0

In [110]:
t1=(1,2,3)
i2=iter(t1)

In [111]:
print(i2)

<tuple_iterator object at 0x000001BFCBF72B30>

In [112]:
next(i2)

1

In [113]:
next(i2)

2

In [114]:
next(i2)

3

In [115]:
next(i2)

StopIteration:

In [118]:
next(i2,"NA")

'NA'

In [ ]:
#generators
#user defined function which is used to generate a seq of values.

In [2]:
def gen1(a,b):
    while a<b:
        yield a #yield func is mandatory in gen 
        a+=1
gen1(10,15)

In [3]:
range(10,15)

range(10, 15)

In [4]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [5]:
list(gen1(10,15))

[10, 11, 12, 13, 14]

In [18]:
def gen2(start,stop,step):
    while start<stop:
        yield start #yield func is mandatory in gen 
        start+=step

In [19]:
list(gen2(10,20,3))

[10, 13, 16, 19]

In [16]:
list(range(10,20,3))

[10, 13, 16, 19]

In [20]:
def gen3(start,stop,step):
    while start<=stop:
        yield start #yield func is mandatory in gen 
        start+=step

In [21]:
gen3(10,12,0.5)

In [22]:
list(gen3(10,12,0.5))

[10, 10.5, 11.0, 11.5, 12.0]

In [ ]:
#wap a prog to create a function (generate) to generate alphabets between starting and ending alphabets
#generate_alphabets("a","f",1)=>["a",'b','c','d','e','f']

In [26]:
def gen_alp(start,stop,step=1):
    start_ascii=ord(start)
    stop_ascii=ord(stop)
    
    while start_ascii<=stop_ascii:
        yield chr(start_ascii)
        start_ascii+=step

In [27]:
list(gen_alp('a','f',1))

['a', 'b', 'c', 'd', 'e', 'f']

# modules in python
# module in a python is a .py file(python file)
#example max,copy,functools
#to use them we have to import the module and use the module to call the function.
#some are directly availble like copy(),print(),max and some we have to import like functools

In [28]:
help(math)

NameError: name 'math' is not defined

In [29]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [30]:
#file name=>code.py
#module name => code

In [31]:
help(print) #present in  module builtins which is under  builtins.py file
#pre imported,

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [32]:
help(sqrt)

NameError: name 'sqrt' is not defined

In [34]:
help(math.sqrt) # / indecates the len of positional arg,it is optional

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [35]:
math.sqrt(10)

3.1622776601683795

#importing a module:two ways

import module_name
from module_name import function_name

In [39]:
from copy import deepcopy

In [40]:
l1=[1,2,3,[10,20]]
l1

[1, 2, 3, [10, 20]]

In [41]:
l2=deepcopy(l1)

In [42]:
l2

[1, 2, 3, [10, 20]]

In [43]:
help(deepcopy)

Help on function deepcopy in module copy:

deepcopy(x, memo=None, _nil=[])
    Deep copy operation on arbitrary Python objects.

    See the module's __doc__ string for more info.

In [44]:
from math import sqrt #only sqrt function is imported and we will not be able to import other functions from math unslee we import them.

In [45]:
sqrt(10)

3.1622776601683795

In [46]:
from random import choice

In [47]:
l3=[1,2,3,4,5]
choice(l3)

5

In [50]:
choice(l3)

5

In [49]:
shuffle(l3) #not defined as we have not called it

NameError: name 'shuffle' is not defined

In [52]:
random.shuffle(l3)

NameError: name 'random' is not defined

In [53]:
from random import choice,shuffle
shuffle(l3)

In [54]:
l3

[1, 3, 2, 5, 4]

In [55]:
#using alias for module name/function name while importing
import functools as tools

In [57]:
tools.reduce(lambda x,y:x+y,l3)

15

In [58]:
functools.reduce(lambda x,y:x+y,l3) #error because we have imported it and gave alias name to it ,it will not recognise main name

NameError: name 'functools' is not defined

In [59]:
from functools import reduce as red

In [60]:
reduce(lambda x,y:x+y,l3) #error because reduce is not recognized

NameError: name 'reduce' is not defined

In [61]:
red(lambda x,y:x+y,l3)

15

In [ ]:
#user define modules
#modules that we create - python file that we create
#we user other IDE's to write progm faster,example:pycharm,vscode,esclips
#check for pycharm

# files in python
 file is a collection of data
 we can manipulate files 
  # classification of files in python
 -text file=> store the data in the form of charecters example:.txt ,.py(only plain charecter are present)
 -binary file=>store the data in the form of bytes(1 byte =8 bits(combination of 8 bits (0,1) is callled bytes) examle: image,videos,audio,pdf files

In [1]:
# file handling
#operations on file: open,read,write,remove,share,save and close
 #open()
#file_handler=open(file_name,mode)

In [2]:
help(open)

Help on function open in module io:

open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
    Open file and return a stream.  Raise OSError upon failure.

    file is either a text or byte string giving the name (and the path
    if the file isn't in the current working directory) of the file to
    be opened or an integer file descriptor of the file to be
    wrapped. (If a file descriptor is given, it is closed when the
    returned I/O object is closed, unless closefd is set to False.)

    mode is an optional string that specifies the mode in which the file
    is opened. It defaults to 'r' which means open for reading in text
    mode.  Other common values are 'w' for writing (truncating the file if
    it already exists), 'x' for creating and writing to a new file, and
    'a' for appending (which on some Unix systems, means that all writes
    append to the end of the file regardless of the current seek position).
    In text mode, if encoding is not specified the encoding used is platform
    dependent: locale.getencoding() is called to get the current locale encoding.
    (For reading and writing raw bytes use binary mode and leave encoding
    unspecified.) The available modes are:

    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    ========= ===============================================================

    The default mode is 'rt' (open for reading text). For binary random
    access, the mode 'w+b' opens and truncates the file to 0 bytes, while
    'r+b' opens the file without truncation. The 'x' mode implies 'w' and
    raises an `FileExistsError` if the file already exists.

    Python distinguishes between files opened in binary and text modes,
    even when the underlying operating system doesn't. Files opened in
    binary mode (appending 'b' to the mode argument) return contents as
    bytes objects without any decoding. In text mode (the default, or when
    't' is appended to the mode argument), the contents of the file are
    returned as strings, the bytes having been first decoded using a
    platform-dependent encoding or using the specified encoding if given.

    buffering is an optional integer used to set the buffering policy.
    Pass 0 to switch buffering off (only allowed in binary mode), 1 to select
    line buffering (only usable in text mode), and an integer > 1 to indicate
    the size of a fixed-size chunk buffer.  When no buffering argument is
    given, the default buffering policy works as follows:

    * Binary files are buffered in fixed-size chunks; the size of the buffer
      is chosen using a heuristic trying to determine the underlying device's
      "block size" and falling back on `io.DEFAULT_BUFFER_SIZE`.
      On many systems, the buffer will typically be 4096 or 8192 bytes long.

    * "Interactive" text files (files for which isatty() returns True)
      use line buffering.  Other text files use the policy described above
      for binary files.

    encoding is the name of the encoding used to decode or encode the
    file. This should only be used in text mode. The default encoding is
    platform dependent, but any encoding supported by Python can be
    passed.  See the codecs module for the list of supported encodings.

    errors is an optional string that specifies how encoding errors are to
    be handled---this argument should not be used in binary mode. Pass
    'strict' to raise a ValueError exception if there is an encoding error
    (the default of None has the same effect), or pass 'ignore' to ignore
    errors. (Note that ignoring encoding errors can lead to data loss.)
    See the documentation for codecs.register or run 'help(codecs.Codec)'
    for a list of the permitted encoding error strings.

    newline controls how universal newlines works (it only applies to text
    mode). It can be None, '', '\n', '\r', and '\r\n'.  It works as
    follows:

    * On input, if newline is None, universal newlines mode is
      enabled. Lines in the input can end in '\n', '\r', or '\r\n', and
      these are translated into '\n' before being returned to the
      caller. If it is '', universal newline mode is enabled, but line
      endings are returned to the caller untranslated. If it has any of
      the other legal values, input lines are only terminated by the given
      string, and the line ending is returned to the caller untranslated.

    * On output, if newline is None, any '\n' characters written are
      translated to the system default line separator, os.linesep. If
      newline is '' or '\n', no translation takes place. If newline is any
      of the other legal values, any '\n' characters written are translated
      to the given string.

    If closefd is False, the underlying file descriptor will be kept open
    when the file is closed. This does not work when a file name is given
    and must be True in that case.

    A custom opener can be used by passing a callable as *opener*. The
    underlying file descriptor for the file object is then obtained by
    calling *opener* with (*file*, *flags*). *opener* must return an open
    file descriptor (passing os.open as *opener* results in functionality
    similar to passing None).

    open() returns a file object whose type depends on the mode, and
    through which the standard file operations such as reading and writing
    are performed. When open() is used to open a file in a text mode ('w',
    'r', 'wt', 'rt', etc.), it returns a TextIOWrapper. When used to open
    a file in a binary mode, the returned class varies: in read binary
    mode, it returns a BufferedReader; in write binary and append binary
    modes, it returns a BufferedWriter, and in read/write mode, it returns
    a BufferedRandom.

    It is also possible to use a string or bytearray as a file for both
    reading and writing. For strings StringIO can be used like a file
    opened in a text mode, and for bytes a BytesIO can be used like a file
    opened in a binary mode.

In [7]:
file_handler = open("code.txt",'rt')

In [8]:
file_handler

In [9]:
type(file_handler)

_io.TextIOWrapper

In [1]:
file_handler=open("file1.txt","rt") #no file with filename is present

FileNotFoundError: [Errno 2] No such file or directory: 'file1.txt'

In [4]:
#reading a file
file_handler=open("code.py","rt")

In [5]:
contents=file_handler.read()

In [6]:
contents

'a = 100\nb = 20\nresult = a + b\nprint(result)'

In [7]:
print(contents)

a = 100
b = 20
result = a + b
print(result)

In [8]:
type(contents)

str

In [9]:
file_handler.close()

In [10]:
file_handler.read() #we have closed it hence we will not be able to read it again but we have stored the data in contents variable,so we can use that

ValueError: I/O operation on closed file.

In [11]:
contents

'a = 100\nb = 20\nresult = a + b\nprint(result)'

In [12]:
# 'w'       open for writing, truncating the file first means it delets the content in the file and open to write new data

file_handler=open("code.py","wt")

In [13]:
file_handler.read() #when openwd in write mde we cannot read it

UnsupportedOperation: not readable

In [15]:
file_handler.close()

In [16]:
fh=open("file1.txt","wt") #if the file does not exist,it will create a new file.

In [17]:
#write()
fh.write("hello there,how are you?") #we can write in the file but it will not be saved, to save the data we have to close the file.

24

In [ ]:
fh.close()

In [22]:
fh.write("hehehehe") #after closing we cannot write.

ValueError: I/O operation on closed file.

In [24]:
fh=open("file2","wt") #if we ddint give any extension,there is no issue .it depends on the content of the file

In [25]:
fh.write("hey, this is no extension file.\n")

32

In [26]:
fh.write("we are learming file handling in python.\n")

41

In [27]:
fh.write("hahhahaha")

9

In [28]:
fh.write("/n zohan is a goood boy")

23

In [29]:
fh.close()

In [30]:
# "x mode"
fh=open("file3","xt")

In [31]:
fh.write("This is new file using x mode.\n")

31

In [33]:
fh.write("my name is sam\n i am learning python/n")

36

In [34]:
fh.write("bye")

3

In [35]:
fh.close()

In [36]:
help(fh.write)

Help on built-in function write:

write(text, /) method of _io.TextIOWrapper instance
    Write string to stream.
    Returns the number of characters written (which is always equal to
    the length of the string).

In [37]:
help(fh.read)

Help on built-in function read:

read(size=-1, /) method of _io.TextIOWrapper instance
    Read at most n characters from stream.

    Read from underlying buffer until we have n characters or we hit EOF.
    If n is negative or omitted, read until EOF.

 Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)

In [40]:
fh=open("file3","rt")

In [41]:
fh.read()

'This is new file using x mode.\nmy name is sam\n i am learning pythonbye'

In [42]:
fh.read() #empty string beacuse once we read the cursor will come to an end and when we try to read again we have empty string

''

In [43]:
fh.close()

In [46]:
fh=open("file3","rt")

In [48]:
fh.read()

'This is new file using x mode.\nmy name is sam\n i am learning pythonbye'

In [49]:
help(fh.read)

Help on built-in function read:

read(size=-1, /) method of _io.TextIOWrapper instance
    Read at most n characters from stream.

    Read from underlying buffer until we have n characters or we hit EOF.
    If n is negative or omitted, read until EOF.

In [50]:
fh.read(10)

''

In [51]:
fh.close()

In [52]:
fh=open("file3","rt")

In [53]:
fh.read(10) #first 10 charecter will be read and cursor is at (10-1) position

'This is ne'

In [54]:
fh.read(5)

'w fil'

In [55]:
fh.read() #now it will read the remaining charecters

'e using x mode.\nmy name is sam\n i am learning pythonbye'

In [56]:
fh.read(10)

''

In [57]:
fh.close()

In [58]:
#readline

fh=open("file3","rt")

In [60]:
fh.readline() #read first line

'This is new file using x mode.\n'

In [61]:
fh.readline() #secondline

'my name is sam\n'

In [62]:
fh.readline()

' i am learning pythonbye'

In [63]:
fh.readline() #end of paragraph

''

In [64]:
fh.close()

In [65]:
#readlines()
fh=open("file3","rt")
fh.readlines() #each line is treated as an element of the list.

['This is new file using x mode.\n',
 'my name is sam\n',
 ' i am learning pythonbye']

In [66]:
fh.readlines() #empty list

[]

In [68]:
fh.close()

In [69]:
fh=open("file3","rt")
contents=fh.readlines()

In [70]:
contents

['This is new file using x mode.\n',
 'my name is sam\n',
 ' i am learning pythonbye']

In [71]:
type(contents)

list

In [72]:
for line in contents:
    print(line)

This is new file using x mode.

my name is sam

 i am learning pythonbye

In [73]:
for line in contents:
    print(line,end="")

This is new file using x mode.
my name is sam
 i am learning pythonbye

In [75]:
for line in contents:
    print(line.strip("\n"))

This is new file using x mode.
my name is sam
 i am learning pythonbye

In [79]:
line_num=1
for line in contents:
    l=line.strip()
    if "file" in l:
        print(F"file word found in line {line_num}")
    line_num+=1

file word found in line 1

In [80]:
fh.close()

In [ ]:
#reading binary file-sir notes
#fh=open("image name ","br")
#content=fh.read() it will work and output will be in binary format.
#type(content) #output will be bytes
#fh.close()

In [82]:
fh=open("file5","bx")
fh.write("This is test component") #error

TypeError: a bytes-like object is required, not 'str'

In [84]:
fh.write(b"This is test component") #we use b to make string into binary file

22

In [85]:
fh.close()

In [89]:
fh=open("file5","rb")

In [90]:
var=fh.read()

In [91]:
type(var)

bytes

In [92]:
var

b'This is test component'

In [93]:
str1=str(var)

In [94]:
str1

"b'This is test component'"

In [95]:
eval(var) #error

SyntaxError: invalid syntax (<string>, line 1)

In [96]:
fh.close()

In [100]:
fh=open("file5","rt")

In [101]:
contents=fh.read() #it will work beacuse it has pure ccharecters,suppose if there an image ,it will not work.

In [102]:
contents

'This is test component'

In [103]:
fh.close()

In [105]:
fh=open("file6","bx")
fh.write(b"/x12hello")

FileExistsError: [Errno 17] File exists: 'file6'

In [106]:
fh.write(b"\x12hello")

6

In [107]:
fh.close()

In [108]:
fh=open("file6","br")
fh.read()

b'/x12hello\x12hello'

In [109]:
fh.close()

In [110]:
#opening a file using "with" statement
with open ("file3","rt") as fh:
    contents=fh.read()
    print(contents)

This is new file using x mode.
my name is sam
 i am learning pythonbye

In [111]:
fh.read() #using #with file is auto closed

ValueError: I/O operation on closed file.

In [112]:
#pickel
student1={"id":101,"name":"sam","percent":81.5}
student1

{'id': 101, 'name': 'sam', 'percent': 81.5}

In [113]:
type(student1)

dict

In [114]:
fh=open("student_info","xt")

In [115]:
fh.write(student1) #in text file we have to write string not dict

TypeError: write() argument must be str, not dict

In [116]:
data =str(student1)
fh.write(data)

43

In [117]:
fh.close()

In [119]:
fh=open("student_info","rt")
con=fh.read()

In [120]:
con

"{'id': 101, 'name': 'sam', 'percent': 81.5}"

In [121]:
type(con)

str

In [122]:
dict(con) #error,we cannot type cast string ti dict

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [124]:
d1=eval(con)

In [125]:
type(d1)

dict

In [ ]:
#pickel helps us to store the structured data into the binary file.
#this is also called serialization
#pickle module

In [130]:
import pickle
student1

{'id': 101, 'name': 'sam', 'percent': 81.5}

In [128]:
#write into the file 
#pickle.dump(object,file)

fh=open("stu_info","xb")

In [131]:
pickle.dump(student1,fh)
fh.close()

In [132]:
fh=open("stu_info1.bin","xb")
val=pickle.dump(student1,fh)
fh.close()

In [133]:
type(val)

NoneType